[2015-01-31 01:47] chenglou opened #3 "Some issues to make this compatible with React addon classSet"
1. `classnames('a', false)` produces `'a false'` in classSet, but classnames ignores `false`. Passing `null` crashes it. Passing `undefined` gets it ignored. Doesn't matter what the desirable behaviour is; it breaks compatibility with classSet.

2. Bikeshedding: I know this has nothing to do with React, but React uses `className` so it'd be nice if this could be `classNames` camelCased.

3. Empty

[2015-01-31 02:06] chenglou commented on #3
I'm totally fine if you keep the current behaviour. I'll link to both https://github.com/petehunt/react-classset and this in the new React classSet readme.

[2015-01-31 03:37] chenglou commented on #3
Update: feel free to keep your current behaviour! I made that above repo fully backward compatible so that you don't have to =).

[2015-01-31 06:45] JedWatson commented on #3
Thanks @chenglou

Is this desired behaviour??

Ditto

Do you mean camelCase the name of the package in npm?

[2015-01-31 13:04] chenglou commented on #3
1. Nope.
2. Don't think so.
3. Don't think you can actually change it? In which case, nvm.

Made a new PR that fixes these ^

[2015-01-31 21:16] #3 closed

[2015-02-05 02:46] chenglou opened #5 "Makes this much faster"
Sorry, just filing an issue for myself. Really busy these days but will get to it.

[2015-02-08 07:46] #5 closed

[2015-02-13 22:10] chenglou opened #7 "Should this provide a bower package?"
I'm not too fond of bower, but since lots of bower react users will come to check this library after classSet deprecation, I think it's valuable to provide it.

[2015-02-14 02:13] JedWatson commented on #7
:+1: I'll add it

[2015-02-14 02:41] JedWatson opened #9 "Should this provide a UMD / minified version?"
Since it's published to Bower (#7) some people may just want to be able to drop it into their page, so we'll need to include a build (via browserify / web pack) for that. Might be nice to dist a .min version too, even though it's _tiny_.

@chenglou thoughts?

[2015-02-14 02:45] #7 closed

[2015-02-14 02:46] JedWatson commented on #9
I wrapped a simple try/catch around the export statement, not a proper solution but this way if it's included directly it'll expose a global `classNames` function and not throw an error if `module` is undefined.

[2015-02-14 02:48] chenglou commented on #9
Here's how I do it: https://github.com/chenglou/react-treeview/blob/master/react-treeview.jsx

Also, I don't usually provide a min inside repo too. Bower users will probably just add that to the list of things they need to minify anyways.

[2015-02-15 11:41] JedWatson commented on #9
Started borrowing your code from `react-treeview` but it's so much simpler because I don't need React defined, so I just changed it to a simple `if (module && module.exports)` check. I think that covers enough cases and agree about magnification.

Feel free to open a PR if you've got a better way... otherwise, thanks :)

[2015-02-15 11:41] #9 closed

[2015-02-25 17:46] davidtheclark opened #12 "Take array as argument?"
Readme clearly explains how to use an array ("if you have an array of these, use apply"). But I wonder if there's any reason not to also accept an array as a regular argument. Would you be open to a PR enabling that?

[2015-02-26 11:55] JedWatson commented on #12
What would the array do?

I've been considering an array-based syntax to allow dynamic class names to be conditionally added. It's  bit of a weird syntax but one that would solve some otherwise awkward code.

e.g.

[code]

That would, of course, be incompatible with using arrays as lists of classNames to include, which is what I think you're suggesting:

[code]

... however I think it would be mor

[2015-02-26 13:39] davidtheclark commented on #12
Yes, what I was suggesting is just using arrays as values. For one reason or another you might build up a list of classnames as an array and this function could then be used to apply them. Here's are two simple examples:

[code]

Both of these situations (and others like them) *could* be addressed by dynamically building an object with `true` values. (The array is just more succinct.)

[code]

The

[2015-03-08 00:42] tgriesser commented on #12
Just came here to open the same ticket, I'd be +1 on using arrays as values (and recursively, so you don't need to worry about flattening them).

In ES6 (via Babel) computed properties are valid so the `[key, bool]` array syntax eventually won't be necessary:

[code]

[2015-03-10 11:35] JedWatson commented on #12
Good point. PR is in review.

[2015-03-10 17:07] chenglou commented on #12
Humm I'm somewhat not in favour of this, for a few reasons.

1. Cramming and trying to overload this library seems wrong. More so for recursive arrays. I feel it's more of the user's job to make sure the right arguments (and types) are passed, and not blindly somehow pass nested arrays and hope it'll all work out in the end.

2. Perf concerns. This function might be used a lot. This is penalizing

[2015-03-10 17:18] davidtheclark commented on #12
I'm not certain the change is important and certainly wouldn't resent it being turned down, but I'd be interested in hearing some more about the problems, @chenglou (again, not strongly opposed to your opposition, but would like to hear your arguments fleshed out):

1. You really think adding array support is "cramming"? It's still an incredibly simple module (and see 4).
2. What are the perf conc

[2015-03-10 17:46] tgriesser commented on #12
@chenglou ah, good call on `classNames(bla1, bla2, ...restOfYourArraySpread)` didn't even think of that. With that said, I could go either way on this.

[2015-03-11 00:50] davidtheclark commented on #12
Following up on @chenglou's comment I tried to do some comparisons with JSPerf tests, and I did see some performance losses with the PR changes. Definitely the recursion is a big culprit, and so is the regular expression. If the recursive functionality @tgriesser asked about were dropped, both could be done away with, and other tweaks could probably be done to micro-optimize the PR code and bring

[2015-03-11 02:00] JedWatson commented on #12
To start with, I'm basically in agreement with @chenglou. I think performance and simplicity should be our highest priorities.

... same argument goes for array support with `..spread` arguments. So I think this is a fairly negligible enhancement to the usability of the function.

_however_ I had an idea on how it could be implemented with extremely little overhead (I think) where you only pay the

[2015-03-11 02:33] davidtheclark commented on #12
That PR is pretty much exactly what I had going before the `switch` intruded into my mind -- so looks good to me :) I did not think of perf implications when I made the `switch` switch.

I didn't have anything set up in JSPerf that you'd want to reuse. Pretty much just plugged in the existing function and some variations. Here's a starting point if it helps: http://jsperf.com/classnames

And yeah,

[2015-03-11 05:28] JedWatson commented on #12
Cheers @davidtheclark, that JSPerf was a good base.

After discussion with @dcousens I implemented a *much* faster check for Arrays in my PR: `arg.constructor === Array` which works in IE8+ and every other browser that React is compatible with. That seems like a reasonable compatibility base.

Based on my updated JSPerf tests (http://jsperf.com/classnames/3) it adds basically no performance overhe

[2015-03-11 05:43] JedWatson commented on #12
Actually after some more testing (different browsers) I'm seeing about a 3% negative performance impact on the new version in Safari (OS X) with about 1.3m ops per second. Would be great if everybody else could hit the perf test too and report back if they also see much of an impact so we can gauge whether this is worth it.

http://jsperf.com/classnames/3

[2015-03-11 12:58] dcousens commented on #12
I personally think this is the smarter approach over accepting an `Array` argument.

[2015-03-17 14:09] JedWatson commented on #12
#16 added this _and_ made `classNames` much faster, so it's in.

[2015-03-17 14:09] #12 closed

[2015-03-22 13:51] rmoorman opened #17 "Support a prefix for classes instead of just leaving them out"
Hello there,

I would like to suggest a small addition to the functionality of this library. It would be handy IMHO if there would be a way to add a prefix (such as "no-") instead of just leaving the class out of the generated class string.

so that next to this:
[code]

the something like the following would also be possible:
[code]

Best regards,
Rico Moorman

[2015-03-23 18:23] longlho opened #18 "Allow replacing of previous class names"
My use case is something like `classNames('foo', { foo: false, bar: true })` should render out `class="bar"` instead of `class="foo bar"`. Should this be supported by the library or is this out of scope? I'd be glad to submit a PR if this use case is something you guys plan to support.

[2015-03-24 09:11] cezar-berea commented on #18
:+1:  on this.

[2015-03-27 01:20] JedWatson commented on #18
As long as there isn't a negative performance impact, I think this is a reasonable change to the API.

[2015-03-27 01:24] JedWatson commented on #17
Interesting idea, I think there may be a cleaner way to achieve this though; something that preprocesses objects beforehand.

If you've got `{ "foo": true, "bar": false }` you want to turn it into `{ "foo": true, "no-bar": true }` then it can be passed in to `classNames` as-is.

[2015-03-27 07:24] rmoorman commented on #17
That would match with what I meant. I really don't think that the main modules public interface should be adjusted but that an additional function could be available who maps to the `classNames` one. One can then just use a different require to use the different functionality.
I am not sure what would be the nicest function interface for this one though ... the one described initially would just r

[2015-03-27 14:49] mtscout6 commented on #17
What about another type of prefixing that's not a falsey prefix. For example:

[code]

This would be an extremely useful use case for me in react-bootstrap. react-bootstrap/react-bootstrap#404 is one  example. Note that I have applied a rather crude means to accomplish this [here](https://github.com/react-bootstrap/react-bootstrap/blob/master/src/BootstrapMixin.js#L34-L36).

[2015-03-27 17:13] rmoorman commented on #17
That seems a nice use case too. Unconditional prefixing. We need more names :-). Maybe we could generalize this into a formatting option for the list and integrate with some formatting options available (maybe someone wants prefixing ... someone wants suffixing ...)

[2015-03-29 12:47] rmoorman commented on #17
@mtscout6 if the classnames would be available as a list rather than a string, wouldn't the prefixing be trivial by mapping over it?
@JedWatson , wouldn't using a list structure as a base make #18 more prettier/simpler to implement? You would then just have to throw one function into the mix which deduplicates a list/make the items unique. After that you would just have to join the items with a sp

[2015-03-29 22:49] JedWatson commented on #17
@rmoorman we used an Array in previous versions but string concatenation provided an incredible improvement to execution speed. I'm normally all for flexibility in my packages but this one has become the de facto replacement for React's classnames utility and as such I'm being _very_ careful to preserve performance. Also, you're likely to see a considerable number of executions in your app, so it

[2015-03-29 23:18] dcousens commented on #18
I personally don't think de duplication is the responsibility of this library, given it is entirely a user input problem.

[2015-03-30 00:09] JedWatson commented on #18
Can someone put forward the use-case that is driving this requirement? (I mean big picture, not simple example)

Looking at the complexity of implementation I'm inclined to agree with @dcousens

[2015-03-30 03:18] longlho commented on #18
So my use case is that a React component which uses this library to allow class name overwrites w/ a specific set of default classNames, so something like `classNames('foo', extraStuff)`.

Conceptually since this library allows a chaining/combining a set of class names, specifying `{foo: false}` at the end of the chain and have it still appear in the output makes it very hard to debug, as you basi

[2015-03-30 05:48] rmoorman commented on #17
@JedWatson I can see where you are coming from wrt. execution performance. As far as flexibility is concerned, the proposed solution could indeed provide a lot of it (also for suffixing, general formatting). It looks like the `prefix` and `prefix.falsy` would need to know a lot about the implementation details of classNames though (given that the list is passed in as parameter to the prefix functi

[2015-03-30 06:39] dcousens commented on #17
Perhaps it might be easier to make `prefix` work on the output, rather then the input.

[2015-03-30 14:05] cezar-berea commented on #18
I agree with @dcousens  but I also have 2 compelling reasons for adding this in anyway:

1. In order to do the de-duplication outside of the library one would have to parse the inputs and do most of the work that the library already does.

2. Allowing later arguments to overwrite previous arguments is more idiomatic and almost expected behavior (think `_.extend`).

[2015-03-30 14:34] longlho commented on #18
@cezar-berea We're having some discussion in the PR itself. @JedWatson mentioned exposing `.dedupe` (or `.merge` if we wanna be similar to `_.merge`) and I think that's probably best as an opt-in due to performance impact

[2015-03-31 13:47] longlho commented on #18
just fixed it

[2015-03-31 15:15] mihhail-lapushkin opened #22 "Support arguments array"
Would be nice if it could expand `arguments` array as well.

[2015-03-31 20:25] longlho commented on #22
hmm can u give an example?

[2015-03-31 20:28] mihhail-lapushkin commented on #22
Well. Something like:
[code]

[2015-03-31 20:51] longlho commented on #22
hmm `toString.call(arguments) === '[object Object]'` so we'll have to `[].slice.call(arguments)`, which you can do on your side too, so
[code]

[2015-03-31 20:55] mihhail-lapushkin commented on #22
That's the point. Why can't it be in the library? It just adds ugliness to my code.

[2015-03-31 20:56] longlho commented on #22
performance overhead and not everybody uses it

[2015-03-31 21:01] mihhail-lapushkin commented on #22
``arg.length !== undefined`` would kill all the performance?

[code]

[2015-03-31 21:04] mihhail-lapushkin commented on #22
Okay. Maybe you're right.
It can be an object with `length` also.
Might require some fiddling.
Let's close it then.

[2015-04-01 01:57] #22 closed

[2015-04-07 14:44] klimashkin opened #25 "Replace Object.prototype.toString.call with Array.isArray"
https://jsperf.com/array-isarray-vs-instanceof-array/5

[2015-04-08 01:36] dcousens commented on #25
@klimashkin you could also just do

`object !== null && object.constructor === Array`

Which is 400% faster again.  See https://jsperf.com/array-isarray-vs-instanceof-array/12

[2015-04-08 08:44] klimashkin commented on #25
Yep, but it have a point if you check array.
If it is not array (and commonly we have no array as argument, more common are objects and booleans) faster to use Array.isArray

[2015-04-08 08:48] dcousens commented on #25
You're right,  however if we just moved the `else if (check if Array` branch to last, then it would be taking advantage of the fact that all other options failed, so it the assumption that is an `Array` is therefore more likely.

[2015-04-08 10:00] klimashkin commented on #25
But if we'll make array check the last, we should move check for object above, ie replace ```'object' === typeof arg``` with Object.prototype.toString.call(arg) === '[object Object]' which is slower

[2015-04-08 10:53] dcousens commented on #25
I'll look into it.  Haven't had time to check over it thoroughly yet.

[2015-04-08 13:43] stuartsan commented on #25
Mentioned in #24 but also relevant here:

The issue with using instanceof Arrray or thing.constructor === Array is that it may fail when multiple frames are in use, because different frames' constructors have different identities, so frame 1's Array !== frame 2's Array.

[2015-04-20 02:26] dcousens commented on #18
@JedWatson what is your conclusion here, `.dedupe`?

[2015-04-22 07:01] kirill-konshin opened #29 "RequireJS compatibility"
Please add UMD declaration.

[2015-04-22 07:01] kirill-konshin commented on #29
PR https://github.com/JedWatson/classnames/pull/30 created.

[2015-04-22 13:07] JedWatson commented on #29
Closed by #30, thanks @kirill-konshin

[2015-04-22 13:07] #29 closed

[2015-04-30 22:39] 3den commented on #18
can someone get that merged?

[2015-05-01 15:33] JedWatson commented on #18
@3den will land it this weekend.

[2015-05-03 02:34] dcousens commented on #18
@JedWatson as `.dedupe`?

[2015-05-03 07:30] JedWatson opened #31 "Add de-duping functionality"
There are two competing PRs to add deduping functionality for `classNames`.

I'm happy to add support for it but not to impact the performance of the package, so what I propose we do is add one as `./dedupe.js`.

Anyone who then needs deduping can simply `require('classnames/dedupe')` and get the alternate version. This has the added benefit of not increasing the download size, whether in browseri

[2015-05-03 10:03] dcousens commented on #18
Closing this in favour of https://github.com/JedWatson/classnames/issues/31

[2015-05-03 10:03] #18 closed

[2015-05-03 10:03] dcousens commented on #25
Merged in https://github.com/JedWatson/classnames/pull/24

[2015-05-03 10:03] #25 closed

[2015-05-03 22:27] dcousens commented on #31
That is what I found as well.
I think #21 is the best candidate, granted the tests could also be simplified.

As mentioned, we should pull the de-dupe implementation out to a separate file (`dedupe.js`) after merge.

[2015-05-04 04:06] JedWatson commented on #31
PRs merged, ready to clean up and release.

[2015-05-04 04:26] JedWatson commented on #31
Outstanding tasks to clean up `dedupe`:

- wrap with IIFE so that utility variables and `_parse` function don't bleed into the global scope when the script is simply included in a page
- move strict mode inside the IIFE so it doesn't affect other scripts when concatenated, ref https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode
- use `Array.isArray` as per change in `2.0.

[2015-05-04 04:26] #31 closed

[2015-05-05 05:16] jackbrown opened #34 "Changelog link goes to react-select repository"

[2015-05-05 10:59] JedWatson commented on #34
oops! thanks for catching that @jackbrown

[2015-05-05 10:59] #34 closed

[2015-05-05 11:00] JedWatson commented on #31
Just released 2.1.0 with this included.

[2015-05-05 11:00] JedWatson commented on #18
Just released 2.1.0 with this included.

[2015-05-27 11:19] daviferreira opened #37 "'use strict' and eval"
I'm having this specific problem using `classNames` with `webpack` `devtool` option set to `eval`. It only happens on Chrome and when the console is not open. The issue is calling `classNames` inside the `classNames` function with the `'use strict'` statement inside the function (https://github.com/JedWatson/classnames/blob/master/index.js#L22), this will cause a `ReferenceError`.

See:

https://g

[2015-05-27 21:54] dcousens commented on #37
@daviferreira could we just avoid the use of `use strict`?
We ca enforce most of the structuring properties of strictness through a linter.

[2015-05-28 01:30] JedWatson commented on #37
I think we could take `use strict` out if it's causing trouble, or @daviferreira am happy to review your wrapper too if that solves the problem.

From what I understand, modern javascript engines are able to optimise certain code paths if they know a function is in strict mode, this may or may not be a major issue / benefit for classNames - unfortunately I'm not familiar enough with the inner work

[2015-05-28 02:02] dcousens commented on #37
@JedWatson [this is apparently true](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode),  however I'd prefer to see some benchmarks before we just assume.

[2015-05-28 09:37] #37 closed

[2015-05-28 09:38] dcousens commented on #17
This is something that can be done by the user.

[2015-05-28 09:38] #17 closed

[2015-06-02 18:01] cassidoo opened #39 "Adding classnames to package.json"
`npm install classnames` should add this to package.json, right now it doesn't.

At this point, were someone to want to put it in package.json themselves, would they just add `"classnames": "*"`?

[2015-06-02 18:18] jruhland commented on #39
What your'e looking for is `npm install --save classnames` or `npm install --save-dev classnames` to add it to your package.json

[2015-06-02 18:20] koulmomo commented on #39
@cassidoo as per the `npm` docs, `npm install classnames` will **NOT** add it to your `package.json` (as is intended). You need to use the [`--save` flag](https://docs.npmjs.com/getting-started/installing-npm-packages-locally#using-package-json-and-the-save-flag) for it to do that.

ie:
[code]

Also, as a general rule, you almost **NEVER** want to set a `*` for your dependencies (`*` means downloa

[2015-06-02 19:45] cassidoo commented on #39
Ah gotcha.  I was going off of this file: https://github.com/JedWatson/classnames/blob/master/benchmarks/package.json

Thank you very much! :+1:

[2015-06-02 19:45] #39 closed

[2015-06-08 09:52] kevinsimper opened #40 "Broke if you both use AMD and commonjs on the same page"
The latest release if you use AMD and commonjs/browserify on the same page.

[2015-06-08 11:22] dcousens commented on #40
Can't we all jut get along.

@JedWatson can we just export like normal, but then just recommend people to use a wrapper that does it properly for them?
In the end, this is a node package.

IMHO, anyway.

[2015-06-08 12:46] JedWatson commented on #40
@kevinsimper can you please clarify what you mean by "broke"? and how it _should_ behave in that case?

Looks to me like fixing this might be as simple as putting this condition first:

[code]

[2015-06-09 07:50] daviferreira commented on #40
I'm also curious about what `broke` means here, this is just a very common wrapper, used everywhere. And I'm also curious about the scenario of having both amd and commonjs on the same page.

Cheers!

[2015-06-09 14:41] kevinsimper commented on #40
If you are on a webpage where you both have requirejs and use browserify, then the module.exports will never run and therefore the browserify version will not work.

Because both amd and module can be defined on the same page. So the `else if` prohibites the use of both.

I can agree that it is stupid to use both on the same page, but sometimes its something you can not decide.

[2015-06-10 02:05] JedWatson commented on #40
@kevinsimper can you confirm whether my proposed change would work, or would you expect it to expose _both_ CommonJS and AMD? A PR that you've confirmed meets your requirements would be welcome.

[2015-06-28 18:34] dcocchia commented on #40
I'm seeing this issue when using react-boostrap, which includes classnames as a dependency. I'm also using browserify and babelify to bundle.

<code>Uncaught Error: Mismatched anonymous define() module: function () {
			return classNames;
		}
</code>

This is fixed by flipping the conditions, as @JedWatson suggests:

<code>
	if (typeof module !== 'undefined' && module.exports) {
		module.exports =

[2015-07-23 22:29] oleronning opened #42 "Add possibility to build classname based on string"
I would really like the possibility to build a class name from a variable if the said variable is set. I encountered the issue when building classes for a standard Bootstrap alert box: in addition to the class `alert` I also needed the string `alert-<alert-type>`, but only if `alert-type` is defined.

[2015-07-24 01:10] dcousens commented on #42
@oleronning can you give an example of how you think this would work?

[2015-07-24 03:30] oleronning commented on #42
@dcousens based on your current implementation, this may not be straigh forward, but one possible solution is to pass an object as a parameter like so:
[code]
This was my first thoughts, but I'm not suprised if there is an more elegant/effective way of doing it.

Thanks!

[2015-07-24 03:35] dcousens commented on #42
@oleronning and the resultant string would be?

[2015-07-24 03:52] oleronning commented on #42
@dcousens if `var alert_type = 'warning'` the resultant string would be `alert-warning`

[2015-07-24 03:56] dcousens commented on #42
Why wouldn't you just use `{ "alert-warning": typeof(alert_type) !== 'undefined' }`.

[2015-07-24 03:58] oleronning commented on #42
Because `alert_type` is passed to my method as an argument, and might just as well be `danger` or `success`

[2015-07-26 12:56] rickychien commented on #40
I ran into the same problem after #41 merged. My use case is using requirejs but it also provide module.export at
https://github.com/JedWatson/classnames/blob/master/index.js#L38

therefore, it doesn't execute second conditional statement for this case.

[2015-07-27 00:00] ojame commented on #42
We're using ES6's [computed values](http://wiki.ecmascript.org/doku.php?id=harmony:object_literals#object_literal_computed_property_keys) (Babel, of course):

[code]

[2015-07-27 07:20] daviferreira commented on #40
Sorry, @JedWatson :heart:

[2015-07-27 11:13] oleronning commented on #42
@ojame Sweet! Thanks a lot!

[2015-07-28 00:51] dcousens commented on #42
@ojame of course,  @oleronning this is definitely the way to do this.  Lets not over-complicate this module which is essentially a language hitch.

Thanks @ojame

[2015-07-28 00:51] #42 closed

[2015-09-02 13:04] busla opened #43 "Add a full example in readme"
I´m new to React and can´t figure out how to use this lib. Is there a possiblity that you could add a full example to the README where state is manipulated to generate classes on a form with multiple inputs?

Thanks.

[2015-09-02 14:53] aitherios opened #44 "RFC prefixed classnames"
Before writing a pull request I would like to ask for inputs on the following idea:

[code]

[2015-09-02 16:01] longlho commented on #44
I think that's out of scope for this module per #42

[2015-09-03 01:11] dcousens commented on #44
Agreed,  out of scope and already discussed.  Thanks @aitherios

[2015-09-03 01:11] #44 closed

[2015-09-05 12:51] pickled-plugins opened #45 "Dynamic fragments in a class name"
On a project I am currently working on, I encounter some situations where a class name is built up dynamically based some variable, for example: ``'help help--' + props.position``, resulting in ``help help--left``, ``help help--top``, ``help help--right``. This library would make this code much more expressive if it supported a syntax such as the following:

    var cls = classNames({
        'hel

[2015-09-05 14:48] benrlodge opened #46 "accept computed variables as class name"
Is there a way to include a computed variable, not just a string? For example below, is there a way I can include `typeName`, `prefix`, and `forIcon` if they pass the truth tests?

[code]

[2015-09-08 12:51] rbsmidt commented on #45
Hi Pickled-plugins

I'm looking for the exact same in a project, that i'm working on. So yes - there's interest in such a feature, at least from me :-)

Other than that, i'm very pleased with classNames, so thanks to the author for a nice piece of work.

[2015-09-08 14:08] dcousens commented on #45
Why not just

[code]

This would already work?

[2015-09-08 14:21] rbsmidt commented on #45
Might be a possibility - however i'm currently using JSX with watch-compiler but not ES6.
My issue is, that i want a category-label as a classname in addition to other dynamic classes (active-state  e.g.). So what i want to do is:
    `var classes = classNames({
        'active': active, //where active is a bool
        {this.props.cat.slug}: true
    })`

I'm still new to React, so maybe i'm tryi

[2015-09-08 14:34] longlho commented on #45
@rbsmidt you can read up on [template string](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings) and have `babel` compiles your stuff

[2015-09-08 14:39] dcousens commented on #45
Closing,  this is easily solved by just using ES6.
If you really need it,  you can still solve the solution in a classical way.

No point special casing this library just for this.

[2015-09-08 14:39] #45 closed

[2015-09-08 15:49] pickled-plugins commented on #45
@dcousens thank you for the tip. I did not know that interpolation worked for object keys, which makes your solution the best way to go.

[2015-09-21 16:04] WickyNilliams commented on #46
ES6 allows for [computed property names/keys on object literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#New_notations_in_ECMAScript_6). So this should work (assuming use of babel or some other transpiler):

[code]

[2015-09-22 17:34] benrlodge commented on #46
nice, thanks @WickyNilliams.

[2015-09-22 17:34] #46 closed

[2015-09-22 21:31] WickyNilliams commented on #46
No problems :)

[2015-09-30 10:02] FGRibreau opened #54 "Do you follow Semver?"
Hello @JedWatson,

Do you follow [semver](http://semver.org/) for classnames ?

[2015-09-30 10:03] JedWatson commented on #54
Sure do!

[2015-09-30 10:05] FGRibreau commented on #54
Awesome, thanks!

[2015-09-30 10:05] #54 closed

[2015-09-30 12:47] JedWatson commented on #43
@busla sorry for the delayed response, I somehow missed the notification. I'm guessing because this issue is a month old you've worked it out by now?

Usage is actually sort-of covered in the React docs: https://facebook.github.io/react/docs/class-name-manipulation.html

I'm happy to expand on usage in the Readme, can you give us a better guide on exactly what would help you though?

[2015-09-30 12:51] busla commented on #43
@JedWatson thanks for replying. Well, I started using react-bootstrap for the project but no, I didn´t resolve the issue. I´m sure it was related to my noobness with React at the time :-)

[2015-09-30 12:51] #43 closed

[2015-10-07 21:23] blia opened #56 "Using classnames with css-modules/name-space"
Using classnames with css-modules/namespace
================================================

Hi!
I (probably, not only I) like to use rather popular `classnames + css-modules` use case.
The most popular usage if it is not only concatenation but concatenation with truthfulness check.
Disadvantage: with `css-modules`,real class names are usually stored in some object.
Usually it's looking the next

[2015-10-08 00:22] dcousens commented on #56
I'd be OK with `classnames/bind`

[2015-10-10 10:56] rohanthacker commented on #43
@JedWatson  Just a heads up.  The link on the github page now shows a deprecated note and a link to the package.

[2015-10-10 12:09] JedWatson commented on #43
@rohanthacker good point. I'll add some more examples :)

[2015-10-10 12:12] JedWatson commented on #56
+1 for `classnames/bind`, will leave a couple of notes in the PR

[2015-10-18 12:18] JedWatson commented on #56
Published in `v2.2.0`

[2015-10-18 12:18] #56 closed

[2015-10-29 02:32] yordis commented on #40
@JedWatson is this fixed and published?

[2015-12-24 10:47] ssjogus opened #65 "help required: classNames with 'props'"
hi,

thanks for wonderful add-on. question that I have is, can i use it with props? can i check conditionally what props value component has, and then add the class?
e.g:
[code]

Thanks for help

[2015-12-24 20:49] longlho commented on #65
yeah I don't see why not

[2015-12-28 08:06] ssjogus commented on #65
Somehow when i try to set 'className' depending on the 'props'

[code]

it gives both the classes to both the buttons..

Html it is creating is this like this. Shouldn't one button have 'btn-success' and another one have 'btn-warning' classes. Or do i need to create for each button different variables?

[code]

![image](https://cloud.githubusercontent.com/assets/8896732/12015798/acbe1a1a-ad67-11e5

[2015-12-28 08:39] JulienMelissas commented on #65
@ssjogus if you're using ES6 you can use template strings and this should simply things and work great:

[code]

[2015-12-28 08:42] JulienMelissas commented on #65
But if you're wondering why your code up there didn't work, I think you need to check for the string you're passing in: `'btn-success': this.props.flag === 'success'` not `'btn-success': this.props.flag.success`

[2015-12-28 11:07] ssjogus commented on #65
hi @JulienMelissas ,

thanks for your answer..i was writing it in wrong way..

your answer **'btn-success': this.props.flag === 'success'**

worked really well.

thanks once again..

[2015-12-29 01:38] #65 closed

[2016-01-08 13:56] smsenesac opened #68 "Issue with classes on list items."
I'm trying to use classnames to manage the active class on a list of bootstrap tabs (see the code below).  However, the generated markup is putting the active class on the anchor link child of the list item instead of the list item itself which causes the currently active tab to not display correctly.  Is there something that I'm doing incorrectly?

[code]

[2016-01-09 06:37] dcousens commented on #68
Your use of `classNames` is fine.   Why not just check (`console.log(myFeedTabClasses`) to find out what the values are?
If it is not `active` when `selectedTab === `my-feed`, then, that is a bug you should report, but I suspect that it is not the case.

[2016-01-09 06:37] #68 closed

[2016-01-12 20:28] kumavis opened #69 "Feature request - render to selector syntax"
current format: `class-a class-b`

selector format: `.class-a.class-b`

[2016-01-12 20:30] kumavis commented on #69
basically just
[code]

[2016-01-29 12:57] nilocoelhojunior commented on #40
I download bower classnames today:

[### dedupe.js, start line 88](https://github.com/JedWatson/classnames/blob/master/dedupe.js#L88)

[code]

made the change suggested by @dcocchia  and it worked

[code]

[2016-02-17 07:16] anjan2hai opened #70 "How can we try this on client browser when not using node.js"
Can you please share an example how to use it when we are not using node server.

Thanks

[2016-02-17 07:44] dcousens commented on #70
Nothing changes.

[Helpful link](http://browserify.org/)

[2016-02-17 07:44] #70 closed

[2016-02-18 05:50] ddhp opened #71 "Later param has priority?"
Hi, thanks for this very useful library, it's gave me huge convenience manipulating DOM classes!

While using classnames, I found out it's somehow a bit inconvenient to remove class from current DOM class context, e.g
I am dealing with following html:
[code]
and I want to remove invisible but keep my-text class:
[code]
currently it will still keep `invisible` class b/c it's set in HTML, and pDOMCl

[2016-02-20 22:01] razh commented on #71
This is available as `classnames/dedupe`.

https://github.com/JedWatson/classnames#alternate-dedupe-version

[code]

[2016-02-21 01:02] ddhp commented on #71
Oh I totally missed that part in Readme :p, thanks for your reply!

[2016-02-21 01:02] #71 closed

[2016-03-24 19:54] brion25 opened #73 "Scroll to tope when classname is added/deleted"
Hi I'm using ReactJS, but when a class is added using `{'some-class' : Boolean}` my view got scrolled to top. I wonder if you can help me with this.

[2016-03-25 20:55] ramakay opened #74 "Global styles."
Say I have grid styles - I do not want this to be packaged with every component - any thoughts on how to approach this

[2016-04-01 05:04] ptim commented on #74
Not sure if I understand the question, or if this question is actually specific to classnames..

One interpretation of the question is:

[code]

[code]
http://www.sitepoint.com/sass-semantically-extend-bootstrap/

This might relate to be use with classnames like so:
[code]

hth!

[2016-04-01 16:55] JedWatson commented on #74
@ramakay hopefully @ptim's answer helps you out - I'm going to close this but if I've misunderstood how the question is specific to classnames, let us know!

[2016-04-01 16:55] #74 closed

[2016-04-11 09:34] redkyo017 opened #75 "upgrade react version 15.0.1"
when I upgraded React to version 15.0.1(newest version) I got this error: classnames@2.2.3 - UNMET PEER DEPENDENCY react@15.0.1.
Need some help !, thanks.

[2016-04-11 10:41] JedWatson commented on #75
That's really weird - I suspect npm is telling you fibs. This package has no dependencies, and doesn't use react at all...

[2016-04-11 10:54] redkyo017 commented on #75
After I updated the NPM version ,this error's gone.
Thank you a lot, JedWatson.

[2016-04-11 11:53] JedWatson commented on #75
Glad to hear it!

[2016-04-11 11:53] #75 closed

[2016-04-26 11:25] iofjuupasli commented on #73
`classnames` is just a function from anything to `className` string.

You can ask this question on React issues or on stackoverflow

[2016-05-04 11:42] davesnx opened #80 "Proposal: Have a option to prefix or suffix the classnames on className"
Hi @JedWatson,

I'm actually thinking that would be useful to have a option for specify a prefix/suffix of all the classes that are you passing into the `classNames()` and have it as a global defined variable.

like:

[code]

Have a little bit more of API in terms of options or settings for some cases can be useful.
What do you think guys?

PS: I this goes forward I would create the PR with some p

[2016-05-04 14:56] dcousens commented on #80
[code]

You could do it,  it might be more performant... but IMHO,  its probably out of scope.

[2016-05-04 15:51] davesnx commented on #80
Of course I can do it without classNames, are just string operations.
The discussion that I try to open is have some options like that inside the api of classNames, and abstract this operations/options on the correct place, instead of running it each time that I want it. @dcousens

[2016-05-10 15:17] kevinSuttle opened #81 "Request: improve warning messages"
There is nothing telling the developer where or what is duplicated. How is she supposed to fix it?

[code]

[2016-05-12 06:45] AndyOGo opened #82 "Webpack Warning - There is another module with equal name when case is ignored"
My Webpack build logs the following warning:

I checked the webpack repo and they have a related issue [#382](https://github.com/webpack/webpack/issues/382)

Is use ES2015 module syntax as follows:

[code]

I quickly checked your code and found two possible parts causing this warning:
- it exports two additional variations (dedupe and bind) as the same name.
- The module names used to export as AM

[2016-05-12 07:05] AndyOGo commented on #82
Okay I investigated the issue more carefully. As it turns out it is quite simple.
Just use the CommonJS module key:

[code]

I leave it open, because inconsistency in module names for different module syntax is a bad practise.

[2016-05-20 21:05] kevinSuttle opened #83 "[CSS Modules] Multiple binds in same component?"
Is the following possible? I cannot seem to get it to work.
[code]
[code]

For some reason, the styles appear in React Dev Tools, but not in the DOM.
Look for `postValidate` in the following screenshots. It only appears in RDT.

<img width="1440" alt="screen shot 2016-05-20 at 5 07 37 pm" src="https://cloud.githubusercontent.com/assets/95672/15442197/7bc4b448-1ead-11e6-8a05-ff481a837aa9.png">

<im

[2016-05-20 21:32] koulmomo commented on #83
try

[code]

[2016-05-20 21:42] kevinSuttle commented on #83
That actually broke it.

How I fixed it:
made sure the presentational components did not have `className`s, **except for** `props.className`. Then, in the container component, I just used the syntax above.

[2016-05-20 21:42] #83 closed

[2016-05-27 18:23] jasonwbullok commented on #65
@JulienMelissas Template literals can't actually be used as a key in an Object literal. A computed property should be used:

var btnClass = classNames('btn', 'btn-sm', {
  ['btn-' + this.props.flag]: this.props.flag
});

See: [Using a variable for a key in a JavaScript object literal](http://stackoverflow.com/questions/2274242/using-a-variable-for-a-key-in-a-javascript-object-literal)

[2016-05-31 00:45] stevemao commented on #82
probably better to keep it all lowercased `classname`.

[2016-05-31 05:04] dcousens commented on #82
Agreed,  but that is now a massive breaking change for anyone using bower.

[2016-06-01 09:22] shikelong opened #84 "how to write nest class selector when use classnames?"
Just like this.
[code]

both class1 and class2 would be add a hash suffix.

so the nest class selector not work.

Regards.

[2016-06-03 02:28] JedWatson commented on #84
@shikelong I'm having trouble understanding what you mean by this... classnames is just responsible for conditionally joining strings based on truthy/falsy values. Can you include the JavaScript code from your implementation to explain the use case further?

[2016-06-07 00:59] #84 closed

[2016-06-15 15:01] AndyOGo commented on #82
Agree, it is definitely a breaking change. So I would put it in a Major release.

[2016-06-18 00:51] jmz7v commented on #75
Hi, I'm trying to install classnames and I'm getting the same error as @redkyo017.
[code]
I cleaned my npm cache and updated npm to the latest version (and react@15.0.2) and still refuses to install, I find it interesting that classnames doesn't have dependencies and I'm still getting this error, should I report this error to npm?

[2016-06-18 00:57] jmz7v commented on #75
Oh, I ran `npm prune` to remove `query-string` and I was finally able to install `classnames`, weird since I had no problem with `query-string` being in there until now.

[2016-07-18 01:20] egauderman commented on #56
For those that are looking for ways to nicely combine classnames and css modules, see this:
https://github.com/itsmepetrov/classnames-loader

[2016-07-25 13:20] ManfredHu opened #89 "Android bug: Unrecognized ES6 grammar."
Hi, I use classnames module my project.
But there has a bug: Android WebView don't support ES6's Dynamic key.

[code]

So I changed this module and add a few parameters：

[code]

Source Code：[here](https://github.com/ManfredHu/classnames/blob/master/index.js)

[2016-08-16 13:54] jwilkinson opened #93 "Class name not always rendering the same"
I have the following code

[code]

The first function the cx renders correctly with the prefix the second one, renders just what is in the quotes.

What am I doing wrong?

[2016-08-16 22:23] dcousens commented on #93
@jwilkinson someone may be able to help you,  but this certainly isn't related to the `classnames` package?

[2016-08-25 06:56] loopmode opened #95 "Question regarding production bundling"
Hi. I'm tinkering with webpack DLLPlugin lately. I just wondered... Does classnames perform its magic at compile time or at run time?
I use the module in almost all my react classes, so I definitely want it "preloaded" or at least available at runtime, that's what I thought at least.
Now I wonder: should I bundle the classnames module into a vendors DLL (or any kind of webpack chunk that gets prel

[2016-08-31 10:23] artisologic opened #96 "Undefined computed keys"
HI,

First, thanks for your amazing package, we use it all over the place and it's been truly great.

We have recently discovered a slight limitation with regards to dynamic keys in objects passed to `classNames`.
#### Example:

Say we have a React Button component which receives a `theme` object.

[code]

If the provided theme object doesn't contain a key of `disabledButton`, `[theme.disabledButt

[2016-09-15 10:23] jackmarchant commented on #93
@jwilkinson if you change `<span className={cx(getIconForSection(section.title) + ' font16')}></span>` to `<span className={cx(getIconForSection(section.title), ' font16')}></span>` that should work?

[2016-09-16 09:38] peduarte commented on #96
+1

[2016-09-22 09:40] victor-homyakov opened #98 "Beware of inaccurate benchmark results"
[code]

Someone might say "wow, looks like performance boost", but the local version is the same 2.2.5 as in npm, no changes were made after `git clone` && `npm install`.

[2016-09-22 09:55] dcousens commented on #98
Welcome to hot spotting :+1:

[2016-09-23 15:04] victor-homyakov commented on #98
Some results from real browsers (again, with unchanged local version), if anyone is interested

### Chrome 53 (Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36):

[code]

### Firefox 47 (Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0):

[code]

### IE11 (Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; SLCC2; .N

[2016-09-23 15:39] victor-homyakov commented on #98
In the attachment is the HTML page - maybe you'll consider it worth adding to the repository. In that case benchmark scripts should be refactored to reuse common parts both on page and in node script.

[benchmarks](https://github.com/JedWatson/classnames/files/490064/benchmarks.txt)

[2016-09-24 19:20] btd opened #99 "[Question] is it possible to have separate ES modules exports"
Hello.

I am building most of my frontend libs with rollupjs and single non-convertable library is this one. Is it possible to have a separate version with es2015 modules exports? I can create PR if you tell me your preference about handling and support.

Thanks.

[2016-09-25 13:43] dcousens commented on #98
@victor-homyakov you're welcome to make a PR :+1:

[2016-09-26 09:44] victor-homyakov commented on #98
PR #100

[2016-10-22 23:57] juice49 opened #101 "Returning an array from bind.js, instead of a string"
Classnames almost works with React Native's StyleSheet module, using the bind variant. The one problem is that in React Native, the style attribute expects an array of keys instead of the string you'd pass to the className attribute of React.

I was able to get `bind.js` to work with React Native by returning the array of classes instead of [joining it](https://github.com/JedWatson/classnames/blob

[2016-11-08 13:49] bradleyayers opened #102 "Bundle TypeScript definitions"
Would you be open to bundling a .d.ts TypeScript definition for this package, so that it can seamlessly be used from TypeScript?

There are existing definitions https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/classnames that could be copied over, so it should be fairly trivial.

[2016-11-08 22:12] dcousens commented on #102
@bradleyayers I'm not opposed to the idea,   its just a matter of the slippery slope.
Is there any reason why the `DefinitelyTyped` types wouldn't be suitable?

[2016-11-09 01:37] bradleyayers commented on #102
I went the DefinitelyTyped route initially, but hit a blocker because my project has two transitive dependencies on `@types/classnames`, which pulls in two sets of definitions that conflict (because they're global definitions).

I don't know of another solution here other than bundling the declaration files in the npm package.

[2016-11-09 02:08] dcousens commented on #102
@bradleyayers how will this solve that unless everyone uses this packages type definitions?

[2016-11-09 02:41] bradleyayers commented on #102
I'm not sure I understand the question, but…

TypeScript automatically uses type definitions that are bundled in NPM packages, but someone could still use @types/classnames if they want (but they probably wouldn't want to, since it's more overhead).

The key difference with packaged definitions is that they don't need to introduce definitions globally. This means that multiple instances of a packa

[2016-11-17 21:59] t1mmen commented on #96
This is probably related to errors we're seeing at Timely (reported via getsentry) for IE11 users:

`Unable to get property 'contains' of undefined or null reference`

[2016-12-01 15:12] astrauka opened #104 "Copyright in production build"
Hey @JedWatson,
I am using webpack, once I compile production assets with
`NODE_ENV=production webpack -p --config webpack.client.config.js`,
I see the library copyright in javascript
![image](https://cloud.githubusercontent.com/assets/1308928/20798921/3f9c8196-b7e9-11e6-9521-c89a4d6618bc.png)

Is there a way to get rid of it?

[2016-12-01 15:19] JedWatson commented on #104
Hi @astrauka,

This was added explicitly in response to #28 so that the license is preserved when you ship classnames with your app.

I believe this is similar to other packages you may include with licenses (e.g. React, etc)

According to the license, you must preserve the copyright when including the code in your app, however if you handle this separately with regards to crediting OSS packages i

[2016-12-02 08:27] astrauka commented on #104
Thank you for the answer :) what I just noticed is that I am separating code to vendor and app bundles and all the libs should go to bundle, but classnames got into app. So that was the actual issue. Will profile produced JS to figure out how to put the package next to other vendor assets.

[2016-12-02 08:27] #104 closed

[2016-12-07 23:56] kaifaust commented on #89
I believe you're not using the correct syntax for interpolation.
``[`usercenter-chat-label__${index + 1}`]``

[2016-12-08 00:06] #93 closed

[2016-12-08 00:06] dcousens commented on #81
I'm not sure what you're asking for?

[2016-12-08 00:06] #73 closed

[2016-12-08 00:07] dcousens commented on #98
Closing in favour of #100

[2016-12-08 00:07] #98 closed

[2016-12-08 00:09] dcousens commented on #99
@btd do you mean you want a copy of the library using `export`/`import`?
I don't think that will be a simple thing to maintain... at all

[2016-12-08 00:09] dcousens commented on #101
I don't know if this module is really that useful if you have an array of keys?

[2016-12-08 00:11] #96 closed

[2016-12-08 00:13] dcousens commented on #96
`undefined` could be a css classname.
I don't think we should trash it just because users made a mistake.

But,  that is just my opinion.   I'll defer on the topic, but,  going to close unless someone wants to take it up.

[2016-12-08 00:14] #69 closed

[2016-12-08 00:15] dcousens commented on #69
I don't think that is in scope of this library.

It might be better to have an alternative, internal module: `classnames/custom` or something, where you could specify these advanced options.

[2016-12-08 00:16] dcousens commented on #40
I'm assuming this was resolved,  please comment if otherwise.

[2016-12-08 00:16] #40 closed

[2016-12-08 00:16] dcousens commented on #95
@loopmode it runs at runtime,  unfortunately,  ha.

[2016-12-08 00:17] #95 closed

[2016-12-08 00:17] dcousens commented on #81
Closing in favour of https://github.com/JedWatson/classnames/issues/82

[2016-12-08 00:17] #81 closed

[2016-12-08 00:18] dcousens commented on #102
Closing in favour of https://github.com/JedWatson/classnames/pull/103

[2016-12-08 00:18] #102 closed

[2016-12-08 00:19] btd commented on #99
@dcousens Thanks for looking. Actually it is very simple if you care. You have each js file with import and export. Before publishing you use tool like rollup or babel to convert modules to UMD format used now (actually amd defined bad).
For other people comming there you can use for now `classnames-es` package.

[2016-12-08 00:26] dcousens commented on #99
And there is the kicker.  That isn't simple,  and can be a pain to keep up to date.

[2016-12-08 00:26] dcousens commented on #99
@btd maybe you can make a PR to put that in the README?

[2016-12-08 00:26] dcousens commented on #99
Unless @JedWatson wants to make a `classnames/es` file.

[2016-12-08 00:28] #89 closed

[2016-12-08 18:43] loopmode commented on #95
Ok, so definitely bundle it and also put it in a commons chunk. Thanks

[2016-12-08 22:54] #101 closed

[2016-12-10 07:34] jedmao commented on #99
I was having problems importing this module into TypeScript for this very reason. Changing the export code in this library to the following fixes it:
[code]
Now I can import with:
[code]
But I have to add the compiler flag `--allowSyntheticDefaultImports` to make that work, because the TypeScript definitions don't declare a default export.

Related to https://github.com/JedWatson/classnames/pull/1

[2016-12-14 02:55] andyngo opened #107 "padding={{direction: 'all', size: '1'}} using classnames?"
Hi, I'm trying to create a component that takes in some props similar to this:
```<Component padding={{direction: 'all', size: '1'}} />```

Any idea if this can be done with `classnames`?

I tried writing it this way but it didn't work:
[code]
Any help here would be very much appreciated. Thanks in advance.

[2016-12-14 04:26] dcousens commented on #107
@andyngo what?

What would you expect `classes` to be equal to in the above snippet?

[2016-12-14 04:27] dcousens commented on #107
Oh wait,  maybe you just want something like https://www.npmjs.com/package/deep-equal?

Alternatively

[code]

[2016-12-16 02:16] zacanger opened #108 "Suggestion: Consider PropTypes Example (Documentation)"
Would you consider adding an example of `PropTypes` that work with this lib to the README?
This could be very useful for someone making low-level components that use `classnames`, that can get passed anything compatible by a higher component.

An example might be:

[code]

I can PR for this if it seems like a good idea.

[2017-01-23 07:24] craigcosmo opened #109 "default class"
[code]
From the code above, we have the classbtn will not return anything if this.state.status is `false`

What if we want it to return class `bar` if this.state.status is `false`?

[2017-01-23 07:27] craigcosmo commented on #109
Well it's pretty simple

[code]

[2017-01-23 07:28] #109 closed

[2017-01-27 13:21] ckinmind opened #110 "It seemed classnames doesn't support scss ?"
I use scss and classnames, but I find it doesn't work ,does classnames support scss?

[2017-01-29 23:42] dcousens commented on #110
`classnames` is a string-concatenation module with context.
That is all it cares about.

It is too low-level to know about whether you are using SCSS or otherwise.

[2017-01-29 23:42] #110 closed

[2017-01-30 10:22] ramarivera opened #111 "Importing classnames installed via NPM while using Webpack"
Hi, firstly i'd like to thank you and the comunity for this amazing module, it certainly makes the life of anyone coding in React easier.

It seems i'm doing something wrong, yet i cant find what it is. You see, i'm coding in React with Typescript, therefore, i use
`import * as ClassNames from "classnames"`
to import your module into my code, but webpack seems unable to include it in the output bu

[2017-01-30 10:36] dcousens commented on #111
I'm not familiar with webpack to this degree,  maybe @AndyOGo could help

[2017-01-30 11:34] AndyOGo commented on #111
@ramarivera
@dcousens

Sure I can help out.
@ramarivera your syntax is wrong, make sure to read the docs and understand how `import` works.
Especially default imports as described in https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import#Importing_defaults

Correct code would be in your case:
[code]

[2017-01-30 11:39] ramarivera commented on #111
I tried that, but Typescript compiler says
`Module '"classnames"' has no default export.`

Just tried it again but got same results :/
(Thanks for the speedy reply!)

[2017-01-30 11:40] AndyOGo commented on #111
That's strange, I mean I use Babel, but that is really weird...

[2017-01-30 11:41] AndyOGo commented on #111
found https://github.com/Microsoft/TypeScript/issues/3337

[2017-01-30 11:59] ramarivera commented on #111
I tried changing the syntax to what that thread provides, to no avail. I also changed my typescript loader from awesome-typescript-loader to ts-loader as suggested but it doesnt work either :(

[2017-01-30 11:59] AndyOGo commented on #111
@ramarivera

I'm just curious, may I ask you to try this:

[code]

If that works, it is related to another bug I issues months ago:
https://github.com/JedWatson/classnames/issues/82#issuecomment-218676799

[2017-01-30 12:04] ramarivera commented on #111
Nope :( it says that no module with that name can be found

[2017-01-30 12:04] AndyOGo commented on #111
If the above does not fix it, I found this issue:
[https://github.com/Microsoft/TypeScript/issues/11179](Importing commonJS modules with es6 imports)

[2017-01-30 22:28] mikestead commented on #111
@ramarivera Did you install the latest typings? `npm install @types/classnames --save-dev`

[2017-01-31 01:56] hyperh opened #112 "What's the order of application of classes?"
I'm using CSS modules, Is there a guaranteed order of application of CSS classes? In the following example, can I expect the resultant style to always have a green background since `.bar` is last? I'm getting inconsistent results in my app. Is there a way to enforce order of application then?

[code]

[code]

[2017-01-31 13:42] ramarivera commented on #111
I can´t be sure of which of all the things i tried yesterday was, but something fixed it and now it's getting bundled correctly. Again, thanks for the quick replies and sorry for "wasting" your time 👍

[2017-01-31 13:42] #111 closed

[2017-02-01 00:38] marcfallows commented on #9
I think it would be really great if an `npm install classnames` provided us with an `index.min.js`. That is pretty common practice. Yes it's tiny, but could be even tinier 🙂

[2017-02-01 00:49] dcousens commented on #9
@marcfallows why?
I'd prefer a source code I can debug and let my own build system minify.

[2017-02-06 10:45] kopax opened #113 "[Request] remove a className easely"
I am looking to do something like this :

      cn('form-control toto', {
        'form-control': false,
      });

but this doesn't remove `form-control`.
Would be nice to be able to negate a class.

[2017-02-07 00:45] dcousens commented on #113
Probably not in scope to be honest.

[2017-02-10 11:25] fmal commented on #113
@kopax https://github.com/JedWatson/classnames#alternate-dedupe-version

[2017-02-10 13:45] dcousens commented on #113
Of course.

[2017-02-10 13:45] #113 closed

[2017-02-27 12:52] Amberlamps commented on #112
Order is guaranteed: https://github.com/JedWatson/classnames/blob/master/index.js#L16
What kind of inconsistencies are you experiencing?

[2017-02-27 13:19] Amberlamps commented on #108
This is not a good idea. `classnames` is returning a string. Why don't you just pass that string to our component? Not only is the prop types definition easy then

[code]

but also your stateless component stays pure. The component in your example is not pure.

[2017-02-27 22:54] #108 closed

[2017-02-28 18:17] hyperh commented on #112
@Amberlamps It might have been a CSS modules `composes` issue actually. But thanks for the answer, at least I know that classnames guarantees class application order.

[2017-02-28 18:17] #112 closed

[2017-03-03 08:40] springuper commented on #80
ask for this feature. it's very useful when building ui library without css-modules.

[2017-03-03 17:51] interactivellama opened #115 "Return of empty string results in class="""
I can wrap this function in a comparison function and make `className` `undefined` myself, but was wondering if this was the best way. I'd looked through the issues and was surprised no one has raised this issue before.

In the real world, I'd probably wrap this library in a library level utility that does this and not repeat the object twice. This is of course specific to React which sees an empt

[2017-03-04 03:09] dcousens commented on #115
Excellent question,  but unfortunately changing it would be API incompatible as many users use concatenation with other strings post-haste which would cause `"undefined"` to be concatenated if changed now.

[2017-03-04 05:24] interactivellama commented on #115
Completely agree. It'd probably only make sense if you could do something like:

[code]

[2017-03-05 01:03] dcousens commented on #115
We accept alternative behaviours submitted as independent sub-modules:  `classnames/undefined` etc

[2017-03-05 03:25] interactivellama commented on #115
By independent, do you mean:
1. copy and paste `index.js`
1. create a `joinedClasses` variable
1. add an if statement at the end right before the return

Does `classnames/empty-as-undefined` sound good for a module name or do you all like one word, more-ambiguous names?

[2017-03-05 03:32] dcousens commented on #115
Yes.

It does the job for now.
I can't guarantee that this will be `npm` released as @JedWatson is inactive [here].

The primary purpose is that separate modules will have zero impact on existing users,  even in bundling.

[2017-03-05 04:31] interactivellama commented on #115
The last release was May 2, 2016. Will you tag/release if I provide a pull request? I'm willing to point to a Github tag if needed, but wouldn't be willing to point to a commit.

[2017-03-05 12:40] dcousens commented on #115
@interactivellama I am willing to put a Github tag.

[2017-03-06 03:50] Noitidart commented on #115
I had this exact same issue today haha! I'm like why the heck are there all these blank `class` attributes. I did this for now:

file: `react-classnames`
[code]

[2017-03-08 18:36] Memoyr opened #117 "anybody used it with angular 2"
It's a great tool for React projet.
Anyone tried it with Angular 2 ?
I managed to used it in my Angular 2 project along with Css modules. Since I'm new to Angular 2 I'm wondering if this tool is a great choice ?

[2017-03-08 23:59] dcousens commented on #117
This tool is a glorified string concatenation module with spaces automatically inserted/
It will work wherever that behaviour is desirable.

[2017-03-08 23:59] #117 closed

[2017-03-16 00:27] smiket opened #118 "Undefined is rendered as class name (should this happen?)"
Hi,

I'm using react props to allow a parent component to pass an optional class to child component.
In the child, I'm using computed key syntax in the classNames call:

        const cssClassNames = classNames({
            'ese-menu-item': true,
            [this.props.cssClass]: true,
        });

If the parent does not pass a value for cssClass (its optional) the child prop is undefined.
This

[2017-03-18 00:18] dstarcev opened #120 "Space-separated classes are not replaced by 'bind'"
We use CSS modules in our project and recently run into an issue that the following test case was failing, which, perhaps, is not the expected behavior:

[code]

I am not sure if it is not supported for performance reasons, and performance actually does degrade if we support this case. The fastest implementation I've been able to come up with so far is about 2x slower for normal strings and 4x slo

[2017-03-19 19:53] dlicul opened #121 "Proposal: Expose classNames, bind and dedupe within a single object in index.js"
This is similar to #82

The problem occurs when an application wants to use all three flavors of classNames; regular, bind and dedupe. At the moment window.classNames is exposed with a same name in all three files. So entire application must settle only on one option but that is not optimal if dedupe is only needed in say 2 react components but the rest of components need only regular or bind vers

[2017-03-19 22:48] dcousens commented on #121
Unfortunately this is a result of the AMD? support that was shoe-horned into each file when it should have been done separately.
@JedWatson we knew this would bite at some point.

@dlicul I'd prefer to just remove the inline AMD support and move that honus onto the user.
Breaking change either way.

[2017-03-19 22:50] dcousens commented on #121
Relevant PR (where it all started): https://github.com/JedWatson/classnames/pull/30

[2017-04-06 03:57] newyork-anthonyng commented on #118
@smiket There's a simpler way to get the intended effect you want. Please note that
* `classNames` accepts `string` arguments
* `classNames` ignores falsey values

The code snippet below should give you the intended effect you are looking for.
[code]

I hope that helps!

[2017-04-06 14:51] interactivellama commented on #115
I'm going to something similar internally. This can be closed, or kept open to allow someone else to take up the mantle. Thanks.

[2017-04-07 20:36] thaithco opened #122 "[Suggestion] Concat nested objects (BEM)"
Hi,

classnames is a ubiquitous, indispensable library for creating classnames and I like it a lot.

However, it could be improved for optimizing creating series of BEM classes that have similar modifiers.

For example, let's say I have the following code:
[code]

Not so bad, there's a little code repeating but it's bearable at least.
However, let's say I had some other element in the same file th

[2017-04-09 23:28] lxkuz opened #125 "[Bug/Suggestion] Working with arguments object"
If we will use `classnames` with `arguments` object inside a function we get strange behavior
[code]

[2017-04-09 23:37] lxkuz commented on #125
@JedWatson I have fixed it and tests are ready. I have to inspect benchmarks to complete this issue.

[2017-04-09 23:48] lxkuz opened #127 "[Suggestion] Drop duplicate class names"
I suggest changing this:
[code]
for this:
[code]

[2017-04-09 23:51] newyork-anthonyng commented on #127
@lxkuz I believe this is what the `dedupe` version does. See the [README](https://github.com/JedWatson/classnames#alternate-dedupe-version).

[2017-04-10 00:52] newyork-anthonyng commented on #125
@lxkuz The `arguments` object in your example would look like this:
[code]
This explains why your `classnames` results in `0 1 2`.

You could fix this by converting `arguments` into a real array before passing it into `classnames`.
[code]

[2017-04-10 06:34] lxkuz commented on #125
@newyork-anthonyng Yes, it's true. But when I researched arguments to array conversion I found this information  https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#3-managing-arguments
It looks like your sample of code will kill V8 optimization. Now I have
[code]
And I know it is wrong (not supported for old Node.js versions and maybe will kill V8 optimization too). I am going to u

[2017-04-11 03:34] newyork-anthonyng commented on #125
@lxkuz I'm not too familiar with optimizing for the `arguments` object, but your code snippet looks good! 👍

[2017-04-11 09:32] lxkuz commented on #125
Done

[2017-04-11 14:08] newyork-anthonyng commented on #125
@lxkuz I meant that you could use that code snippet (where you expand your `arguments`object into a real array) on your client code.

See this closed [issue](https://github.com/JedWatson/classnames/issues/22).

[2017-04-11 14:27] lxkuz commented on #125
@newyork-anthonyng  oh yes, I can see. Thanks.

[2017-04-11 14:27] #125 closed

[2017-04-12 04:28] newyork-anthonyng commented on #122
@thaithco Good idea, but I'm wondering about the performance consequences this would have.

I agree with you that this package is ubiquitous, but I'm not sure that `BEM` is as commonly used.

I think that it should be the responsibility of the developer to create a `BEM` object that works with the `classnames` package.

Would a utility function like the below work?
[code]

[2017-04-12 04:29] newyork-anthonyng commented on #127
@lxkuz Was the `dedupe` version what you were looking for? Could we close this issue?

[2017-04-12 06:00] lxkuz commented on #127
Yes just forgot it, thanks.

[2017-04-12 06:00] #127 closed

[2017-04-14 01:36] yinghaochan commented on #99
webpack hack to add exports.default:

` webpack.config.module.rules.push({ test: /classnames/, use: ['exports-loader?default=module.exports'] })`

[2017-04-14 06:26] #99 closed

[2017-04-14 18:13] pconerly opened #128 "Is it appropriate to memoize classnames?"
React renders a lot, and my team is wondering if it'd be appropriate to memoize `classnames`.  I'm trying to think of the use cases, and it seems like we can always expect consistent output for a given input.

Is memoizing classnames worth it? I'm wondering if memoize's cost of comparing args costs just as much as classname's manipulation.

[2017-04-15 14:58] newyork-anthonyng commented on #128
@pconerly Great question. I set up a quick [example repo](https://github.com/newyork-anthonyng/memoize-classnames-test).

It's a basic example with only one component, so take the results with a grain of salt.
* render time **with** memoization to be around `2.5ms`
* render time **without** memoization to be below `1ms`.

My guess for this performance is the overhead of creating a hash key for the

[2017-04-18 19:54] pconerly commented on #128
@newyork-anthonyng thanks for the investigation! We'll skip the memoization :)

[2017-04-18 19:54] #128 closed

[2017-04-24 21:28] davesnx commented on #80
Seems that isn't aligned with the purpose of this module and with a preset you could achive the same.

I'm closing this...

[2017-04-24 21:28] #80 closed

[2017-04-26 03:31] xixilive commented on #118
👍

[2017-04-27 21:27] drewbietron opened #129 "Assignment to read-only properties is not allowed in strict mode"
This error keeps popping up in IE 11.  Apparently using JavaScript to apply CSS to Internet Explorer/Edge returns ‘Assignment to read-only properties is not allowed in strict mode’.

[2017-04-28 01:01] dcousens commented on #129
Can you provide a code sample

[2017-04-28 21:27] newyork-anthonyng commented on #129
@drewbietron `classNames` is simply creating a string for you to use.

Like @dcousens said, `classNames` is most likely not the culprit of this error message. I'm very interested in seeing the code snippet that recreates this error.

[2017-04-30 08:03] tswaters opened #130 "improved css modules method"
The way to go about css modules seems to be using the `bind` method.

This takes an object that will be used as a map to lookup the actual className from the result of a css module export.  The way in which it does this is instead of the property key, it will do a lookup against `this` and use the result (or the key if it wasn't found)

This is somewhat limiting as you can't combine multiple sourc

[2017-05-01 00:22] newyork-anthonyng commented on #130
@tswaters

Could you use the default `classNames` package to accomplish the same result?

[code]

[2017-05-01 02:49] dcousens commented on #130
Interesting idea,  but this could be done at a higher level.
Maybe play with the idea as a sub-module.... but tbh,  I think @newyork-anthonyng's idea is better off semantically then doing constant key lookups.

[2017-05-01 07:42] tswaters commented on #130
Probably correct.  After playing / thinking on it a bit, I'll probably switch to not using `bind` at all.  Eventually I hope to see css modules (by way of webpack's css-loader) use es6 modules and named exports, so ideally tree shaking could be a possibility...  running the entire export through bind is not exactly conducive to that.

[2017-05-01 07:42] #130 closed

[2017-05-14 03:02] jeroenransijn opened #132 "Being able to spread in React {...cx('awesome-style')}"
The idea I am playing with is to save a couple of characters of typing .
I am not sure if this really something worth pursuing, but it has been somewhat of an annoyance since I often mistype className and react props can quickly build up.

[code]

It would work exactly the same as classNames right now, but instead it would return an object:
[code]

I was thinking of calling it something like `clas

[2017-05-14 03:27] newyork-anthonyng commented on #132
@jeroenransijn I have definitely typed in all variations of `className` into my JSX (`classnames`, `classname`, `classNames`, `className`). I wonder if I should use a better linter to catch these 🤔

Also, I think it would be simple to write your own wrapper around `classnames`, and use that instead. It would look something like:
[code]

[2017-05-15 01:45] jeroenransijn commented on #132
@newyork-anthonyng I always get the wrong autocomplete for className. I am currently trying out something like this in combination with glamor:

[code]

Your example is pretty much what I had in mind.

[2017-05-17 01:11] #129 closed

[2017-05-17 01:11] #115 closed

[2017-05-17 01:13] #118 closed

[2017-05-17 01:14] #107 closed

[2017-05-17 01:21] dcousens commented on #121
Closing in favour of https://github.com/JedWatson/classnames/issues/82 - merging is not the approach to take here.

[2017-05-17 01:21] #121 closed

[2017-05-17 01:22] dcousens commented on #82
I vote the AMD exports are removed entirely; then this is a non-issue.

[2017-06-01 16:23] alduro opened #134 "Dynamic class name in ES2015 not working"
I do have this:

[code]

that generates:

[code]

What am I missing ? Thanks.

[2017-06-01 16:49] webdeveloperpr commented on #134
maybe like this ?
` { [`${styles['status']}`]: true }`

[2017-06-01 17:45] alduro commented on #134
@webdeveloperpr 👍
without the quotes but yes !  ``` {[styles[status]]: true});  ```

[2017-06-01 21:53] newyork-anthonyng commented on #134
@alduro Did you simplify your example so that `styles[status]` was always true?

If not, you could rewrite your code as:
[code]

[2017-06-01 22:01] alduro commented on #134
@newyork-anthonyng yes ! I simplified  it that way.

[2017-06-19 14:26] morajabi commented on #134
Why we can't use this: ```[`styles.${ status }`]```?

[2017-06-19 14:55] #134 closed

[2017-06-20 20:12] vamsiampolu opened #136 "Support for styles generated using glamor"
I came across an issue when consuming a project called ant-design along with glamor v2 and css. glamor generates an object instead of a string, so adding it a list of classes would cause no styling changes.

The original issue is here:

https://github.com/ant-design/ant-design/issues/6226

We might want to either  fix this issue if glamor allows checking if the object it generated is a style.

[2017-06-21 02:26] newyork-anthonyng commented on #136
Hi @vamsiampolu,

I looked at your [WebpackBin link](https://www.webpackbin.com/bins/-Kn7PqDK39uc6VARw-vO) and the documentation for [glamor](https://github.com/threepointone/glamor).

It seems like `glamor.css()` is returning an object with a `toString` function.

[code]

`classnames` is processing this object correctly. `data-css-vkqpno` has a `falsey` value (an empty string), and doesn't includ

[2017-06-21 04:16] vamsiampolu commented on #136
@newyork-anthonyng The last part about coercing to `string` did not occur to me. Thanks.

[2017-06-21 04:16] #136 closed

[2017-06-29 02:27] helixbass commented on #136
@vamsiampolu I just ran into the same thing and I don't want to have to explicitly convert my `glamor.css()` value to a string before passing to `classNames()`, so I modified the `classNames()` function to be compatible with the output of `glamor.css()` (on the `glamor` branch of my fork of this repo). This was the change I added (before it checks if `arg` is a string or an object):
[code]
I assum

[2017-07-06 08:31] scazzy opened #137 "Local bind for css modules"
Suggestion: for ease of implementation at local components.
Using css-modules, and have used classnames at higher level for default/app-wide css, which exports a method called classNames (already bound with app wide css).

At local components, am doing
[code]

But while using it, I can't use string keys for local styles. I've to either do a `style.class`, or `style['class']` if it contains hyphen.

[2017-07-06 14:01] newyork-anthonyng commented on #137
@scazzy Have you taken a look at the `bind` version of `classnames`? See [documentation](https://github.com/JedWatson/classnames#alternate-bind-version-for-css-modules).

[2017-07-08 18:56] anilanar commented on #82
Assuming most people have now switched to ES imports, why doesn't `classnames` have an ES6 main file using `module` key in `package.json`? `module.exports` can be mapped to ES in 2 different ways (wildcard import and default import) which causes issues if used in a complicated scenarios with typescript, babel, node etc.

[2017-07-13 19:28] scazzy commented on #137
@newyork-anthonyng Yes. The bind would return object map of the class hashes.
I'm currently using that to bind my global css.
What I was referring to is - to allow binding local css to the object that's already bound.

Currently,
[code]

If I could add/bind local (component level) css to the same cx, I could simply use
`cx('btn', 'localclassname')` instead of `style['class']`. // btn is global cla

[2017-07-20 13:01] FezVrasta commented on #122
I think this can be useful for more than BEM, even in the README of this project you have a lot of `btn-something` repetition.

This would help a lot all the Bootstrap users out there, at least.

[2017-07-31 20:22] arcman77 commented on #129
@drewbietron is correct.
https://devtidbits.com/2016/06/12/assignment-to-read-only-properties-is-not-allowed-in-strict-mode/#comment-1611

Apparently you're supposed to use this something like `myEle.style.cssText = "color: red;"`

However I still get the same error even after applything that fix...

[2017-08-14 14:41] drewbietron commented on #129
Any consideration to re-opening this issue?

[2017-08-14 23:46] pragya04 opened #138 "Cannot read property '0' of undefined"
I get this error while installing classnames using npm 5.3.0

"Cannot read property '0' of undefined"

How can I resolve it?

[2017-08-15 05:00] newyork-anthonyng commented on #138
@pragya04 I'm thinking this might be an issue with the latest version of `npm` or `node`.

I saw this [issue on npm](https://github.com/npm/npm/issues/17858) where people were running into similar issues. Do any of the solutions there fix your issue?

[2017-08-15 05:07] pragya04 commented on #138
@newyork-anthonyng Downgraded to 5.2.0 and it worked! Thank you!

[2017-08-15 05:07] #138 closed

[2017-08-25 15:17] mrchief commented on #137
Have you tried this?

[code]

[2017-09-10 06:52] alexsasharegan commented on #132
I think @newyork-anthonyng has a solid answer. Could also skip a line and just apply the wrapper function arguments as well:

[code]

[2017-09-29 14:04] jedmao commented on #122
@thaithco, is this what you're looking for?

https://www.npmjs.com/package/bem-helpers

[2017-10-06 18:05] cristianfraser opened #141 "Undefined computed keys"
Don't know if comment on https://github.com/JedWatson/classnames/issues/96 because it was closed over a year ago.

Like @dcousens said, 'undefined' could perfectly be a CSS class, so it shouldn't be discarded simply because it's `undefined`. BUT, the reason I see for it to be trashed is consistency.

For example: `classNames(obj.classA, 'classB')` returns `'classB'` if obj.classA is `undefined`. B

[2017-10-13 04:08] andreGarvin opened #142 "I do not understand the use of this project"
I see what I can be used for but it does not understand why you can not just use a tourney statement switch. the react example sense but not really

[2017-10-13 04:40] newyork-anthonyng commented on #142
@andreGarvin Do you mean a ternary statement?

This library is just a utility for working with `classNames` in React. For simple cases, you may not need it.

[2017-10-13 05:37] andreGarvin commented on #142
okay, I was trying to understand what the project was about and an I was checking it out my code base at work was trying to see if I could contribute to the project

[2017-10-13 21:49] dlindenkreuz commented on #99
@jedmao You can use classnames in TypeScript without `--allowSyntheticDefaultImports` like this:

[code]

[2017-10-25 08:22] ipanasenko commented on #141
@cristianfraser what if you write like this: `classNames({ [obj.classA]: obj.classA && someBool, classB: someBool })` ?

[2017-10-30 20:50] paddotk opened #143 "combination of string + value doesn't work"
Let's say I want to add a classname such as (second one)
[code]

then the page throws an error (`unexpected token`).
I tried encapsuling the statement with (parentheses) or {braces} but that doesn't do the trick either.
Is it possible to use a combination of a string and a var? If not, could support for this be added?

Thanks

[2017-10-31 00:02] newyork-anthonyng commented on #143
@paddotk
Is something like this what you're looking for?
https://codepen.io/anon/pen/LOEooZ

I think square brackets is what you need.

[2017-10-31 00:04] newyork-anthonyng commented on #142
@andreGarvin Cool. Do you have any other questions about this project? If not, could you close the issue?

Thanks!

[2017-10-31 13:45] paddotk commented on #143
@newyork-anthonyng Yes! Perfect, thanks!

[2017-10-31 13:45] #143 closed

[2017-11-01 09:59] gomo opened #144 "Toggle class with Boolean value"
HI! Thank you for awesome function.

If I want output `<div class="true">` when a value is true, otherwise `<div class="flase">`, I write like below.

[code]

Any idea to write this a bit shorter?

How about like the below?

[code]

What do you think?

[2017-11-01 12:01] newyork-anthonyng commented on #144
`classNames` also accepts a `string` value as an argument.

You could use a ternary expression like so:
[code]

[2017-11-01 12:40] gomo commented on #144
Thank you for your quick answer.

That's right! :relaxed:

[2017-11-01 12:40] #144 closed

[2017-11-03 15:04] merss19 opened #145 "does not match the corresponding path on disk `classnames`"
I get this error
..\app\node_modules\classNames\index.js` does not match the corresponding path on disk `classnames`.
webpack 2 or webpack3
webpack1 - ок

[2017-11-03 15:13] #145 closed

[2017-11-07 12:16] glennreyes opened #146 "Render no classnames at all if no valid args passed"
I think, if we pass anything like:
[code]

... it shouldn't render the `class` attribute at all. At the moment it does:
![image](https://user-images.githubusercontent.com/5080854/32493127-0f664954-c3bd-11e7-97b7-1468b80c0279.png)

We often have the case, where we just need one class name based on condition. Of course, a simple ternary would do that too, but we want to keep the codebase consistent

[2017-11-08 02:19] newyork-anthonyng commented on #146
Hi @glennreyes,

Take a look at this [issue](See this `issue` [here](https://github.com/JedWatson/classnames/issues/115). Someone wanted to do something similar, but return `undefined` instead.

This might not have backward compatibility issues, and would require a `sub-module`.

[2017-11-08 08:56] glennreyes commented on #146
Thanks for pointing to the issue @newyork-anthonyng! [This](https://github.com/JedWatson/classnames/issues/115#issuecomment-284122686) sounds reasonable, so will close it for now and stick for [this](https://github.com/JedWatson/classnames/issues/115#issuecomment-284296632) workaround.

[2017-11-08 08:56] #146 closed

[2017-11-14 15:59] IamJoseph opened #149 "[Feature Request] Classname OR"
Sometimes the logic to determine whether or not a component exists can get complicated. It'd be nice to have a syntax like
[code]

[2017-11-15 05:11] newyork-anthonyng commented on #149
@IamJoseph Could you provide a specific use case where the `OR` would be helpful?

The `OR` syntax that you have in your code snippet would be a syntax error. I think this functionality can already be done inside the `classnames` library, like so:
[code]

[2017-11-16 01:46] zordius commented on #115
i created a tiny package for this: https://www.npmjs.com/package/classnames-undefined

[2018-01-24 18:18] WunderBart commented on #149
@IamJoseph wouldn't this be what you're looking for?

[code]

[2018-01-24 20:39] IamJoseph commented on #149
@WunderBart Yes, does that work?
@newyork-anthonyng Sorry for the late response/clarification. I was speaking about computed properties. Although now I forget the use case I had in mind 😅

[2018-01-25 01:06] newyork-anthonyng commented on #149
@IamJoseph No problem.

The suggestion that @WunderBart should work. I pasted a code snippet on `repl.it`.

https://repl.it/repls/ElderlySillyAndeancat

[2018-01-29 04:34] mrchief commented on #132
If the main goal is to save characters while typing, a much better idea (IMHO), would be to use [classnames-loader](https://github.com/itsmepetrov/classnames-loader):

Without loader:
[code]

With loader:
[code]

Of course, you can still pursue your idea to stave off few more characters on top of this! :)

[2018-01-30 05:58] kmvan opened #151 "Error in typescript: Left side of comma operator is unused and has no side effects."
[code]

Then at-load shows: `Left side of comma operator is unused and has no side effects.`

I have no idea to let it works...

[2018-01-30 07:19] omegdadi opened #152 "Published module is out of date, missing Typescript compatibility fix"
This [line](https://github.com/JedWatson/classnames/blob/master/index.js#L42) in particular is missing from the latest npm version 2.2.5. It would be great to get that change released.

[2018-02-04 13:21] Romms opened #153 "Classnames ignore toString() method"
I found very useful to have an ability to pass objects with own `toString()` method to classNames function.

ClassNames makes checking is argument type a string, but doesn't check that it is an object with `toString()` method that returns string different from `"[object Object]"`

This checking can allow to combine a few different methods of generation class names, that are useful for libraries th

[2018-02-04 13:51] Romms commented on #153
BTW: As I see, React implicitly call `toString()` when making assignment `className` prop to DOM element. So this feature can keep the same behavior for classNames.

https://github.com/facebook/react/blob/51f1205fb4fd6402b155202263ee12571ca4c3a6/src/renderers/dom/fiber/ReactDOMFiber.js#L58

[2018-02-05 12:54] a932455223 commented on #82
The issue help me  solve my problem.Thanks.

[2018-02-12 14:07] ruxiang05 commented on #152
Bumping this as I have the same problem

[2018-03-03 15:01] farskid opened #154 "Lazy evaluation on classnames"
Hi,

First of all, thanks for creating such a great utility library. It helps me a lot on my projects.

I ran into a situation described as below that I need some sort of lazy evaluation for my classnames.

consider a case where I have a function that creates classname strings out of an array of objects.

[code]

I want to validate objects in the array and if the object doesn't have the required i

[2018-03-03 16:02] newyork-anthonyng commented on #154
@farskid Would something like this work?

[code]

[2018-03-03 16:05] farskid commented on #154
@newyork-anthonyng There was a typo about `propA` in my comment. if I could use classnames as a function and pass truthy and falsey values to it as arguments, Yes!

Do we have it right now?

[2018-03-03 16:13] newyork-anthonyng commented on #154
@farskid I created this [CodeSandbox demo](https://codesandbox.io/s/vqmjl6k4vl) that seems to work.

Let me know if I'm missing something 👍

[2018-03-03 16:17] farskid commented on #154
@newyork-anthonyng It works! thanks.

[2018-03-03 16:17] #154 closed

[2018-03-06 17:02] mariomc commented on #152
Same issue here. Could we add a version bump please?

[2018-03-06 19:12] baribadamshin opened #155 "Ignore missing classes names on binding"
Hey, there!

When we use css-modules and try to use the missing classnames, we get the original class name in the result string. In some cases it's not pretty well, i mean like dynamic classnames;

How about implement strict mode for the bind version and deletes such values. It seems that the second argument in bind method will be perfect.

What do you think?

[2018-03-10 15:51] zposten commented on #111
Because there's not really an "answer" on this thread, I wanted to supply the one that worked for me:

[code]

[2018-03-21 04:50] alfaslash commented on #151
You are using the latest versions of npm packages `classnames` and `@types/classnames`?

Try to change import section:
[code]

[2018-03-22 12:04] sandrina-p opened #157 "Curiosity: Why "cx" as "classnames"?"
When using classnames, you use `cx`. Why's that?

[code]

For me, personally, I would use `cn`... what's the meaning of `cx`?

[2018-03-24 02:39] mayavera commented on #155
Could you provide some illustrative code examples?

[2018-03-24 02:55] mayavera commented on #151
@kmvan could you provide some more details on the issue you're having?

[2018-03-24 03:10] mayavera commented on #132
@jeroenransijn if you're having trouble with typing the correct name (as many of us do 🙇 ), I would recommend using [`eslint`](https://eslint.org) with [no-undef](https://eslint.org/docs/4.0.0/rules/no-undef) set to "warning" or "error". You can run `eslint` in a terminal next to your editor and it will tell you when you make mistakes like this. Optionally, you can integrate it with [VScode](https

[2018-03-24 14:20] Romms commented on #153
I'm seeing the following
[code]

[code]

But I expected to see

[code]

[2018-03-27 09:13] hellotheremike opened #158 "Cant handle MobX observable object"
I have issues using `classnames` when passing an `mobx observable object`. The output becomes and empty string when passing the following object:

[code]

[2018-04-08 07:48] yordis commented on #158
@hellotheremike because  as you said, it is observable object, you need to pass the raw object to the `classname` function.

[2018-04-12 01:30] dnfesp opened #159 "update to slightly faster version (~10-15%)"
Take a look at this [JsPerf](https://jsperf.com/classnamesald)

[2018-04-12 01:32] #159 closed

[2018-04-13 13:39] JedWatson commented on #157
Early on, React bundled a classNames-like utility in its addons. But it was limited, so I wrote this instead. When the addons got unbundled from React, the team weren't that interested in maintaining theirs so this became the "official" classNames implementation.

The React utility was called "classSet" which works better as `cx` than `cs`... I think the idea may be that you have `x` classes you a

[2018-04-13 13:39] #157 closed

[2018-04-16 18:08] havivi commented on #111
Thx @zposten !!! import * as classnames from 'classnames' works for me too.

[2018-05-16 23:08] bruffstar opened #163 "License info being included twice after Webpack 4 build"
Not sure if this is a Webpack issue or something with classnames. The reason I don't think it is Webpack is because, in the bundled file, no other third party scripts are adding the license info twice.

I thought it was maybe because there is license info in ``index.js``, ``bind.js`` & ``dedupe.js``. However, I ruled this out after adding a test change in the copyright text in only ``index.js`` an

[2018-05-17 00:17] bruffstar commented on #163
I have made a super simple example here: https://github.com/bruffstar/bug-test

See ``dist/index.js`` for an exmaple output with the duplicate license comment.

[2018-05-18 23:02] rcchen opened #164 "Cut release of classnames to capture changes since 2.2.5"
Apologies for posting but it seems that there are a [large number of commits that have made it into master since the last release](https://github.com/JedWatson/classnames/compare/v2.2.5...master) but are not captured in any recent release. Would it be possible to cut a release to capture those changes? I'm particularly interested in https://github.com/JedWatson/classnames/commit/915186aaa510e0c6be

[2018-05-21 03:07] say8425 commented on #151
maybe this https://github.com/JedWatson/classnames/pull/103 is related

[2018-06-15 22:02] alexlafroscia commented on #164
This should be close-able since `2.2.6` was released a week ago!

[2018-06-15 22:18] rcchen commented on #164
Awesome, thank you!

[2018-06-15 22:18] #164 closed

[2018-07-03 08:47] cuyu opened #168 "Example of how to use with pseudo classes"
Didn't find any examples in the documents.

[2018-07-03 09:34] young666 commented on #168
Have you read this?
![image](https://user-images.githubusercontent.com/9252925/42211943-f326e658-7ede-11e8-86f8-4a3b5076a390.png)

[2018-07-03 14:37] michaelzoidl commented on #101
Hey, i think @juice49 meant something like the `classnames` module creates a new string from the arguments it receives, but react-native expects an array of objects with the stylings instead of an array, so its kind a similar to the `bind.js` file, but this one also just returns a string.

IMO adding this function to the `bind.js` would make it more complicated, either there should be a new file (

[2018-07-04 02:09] cuyu commented on #168
Sorry, I just find this is not the right place to ask such question. The problem is about the "css in js" lib.

[2018-07-04 02:09] #168 closed

[2018-07-13 18:58] rcchen commented on #152
This issue can be closed, 2.2.6 got released about a month ago.

[2018-07-14 12:35] #151 closed

[2018-07-15 14:55] kmvan commented on #151
Oh, babel-loader cause this error.
The babel-loader can not set below the Awesome-typescript-loader.

[2018-07-17 06:54] ssingla2 commented on #163
Hi
I am facing an issue that when I generate bundle.js on my localhost using NODE_ENV=production webpack , I am getting file where it is commented "Copyright (c) 2016 Jed Watson."  but when it runs on dev server it is generated with comments "Copyright (c) 2017 Jed Watson.

I am not sure why it is generated with different copyrights

[2018-07-20 10:31] dcousens commented on #153
See https://github.com/JedWatson/classnames/pull/170

[2018-07-20 10:31] #153 closed

[2018-07-20 10:31] #142 closed

[2018-07-20 10:32] #152 closed

[2018-07-20 10:33] dcousens commented on #141
@cristianfraser you raise an interesting problem,  but I suspect the behaviour is too cemented now that a breaking change would simply be too disruptive.

[2018-07-20 10:33] #141 closed

[2018-07-20 10:35] dcousens commented on #132
If you wanted this as `/spreadable`,   or something,   OK,  but,  is this idiomatic?

[2018-07-20 10:35] #149 closed

[2018-07-20 10:37] dcousens commented on #163
This is because `LICENSE.md` is being included,  and for whatever reason @JedWatson decided to put the LICENSE prefix in the [`index.js`](https://github.com/JedWatson/classnames/blob/master/index.js) too... hence,  twice.

I don't think I want to ping @JedWatson the 1000's of times necessary to get him to resolve this...

[2018-07-20 10:37] #158 closed

[2018-07-20 10:38] dcousens commented on #155
@baribadamshin example needed,  no idea what you mean.
Closing until example provided.

[2018-07-20 10:38] #155 closed

[2018-07-20 10:39] dcousens commented on #82
Probably resolved by https://github.com/JedWatson/classnames/pull/150,  closing in favour of that

[2018-07-20 10:39] #82 closed

[2018-07-20 10:42] dcousens commented on #122
It seems external modules have dealt with this better.
I don't know if it is within scope of this module.

[2018-07-20 10:42] #122 closed

[2018-07-20 10:43] #137 closed

[2018-07-20 10:45] dcousens commented on #120
I don't think this would be expected behaviour for the users of `classnames`,  nor do I personally understand the intent of the PR or feature.

Going to close,  but,  happy to continue discussion.

[2018-07-20 17:13] jedmao commented on #122
Related, see https://www.npmjs.com/package/bem-join

[2018-08-06 19:03] tlhunter opened #171 "Missing git tag for v2.2.6"
The commit is present, however the tag is missing.

[2018-08-09 17:18] ron-fugue opened #172 "Return empty string instead of undefined"
When I pass an empty css class, the component renders the class with `undefined`. Is there a way to have the component render with an empty string instead of `undefined`?

[2018-08-09 20:42] newyork-anthonyng commented on #172
Is this #118 related?

[2018-08-09 20:47] ron-fugue commented on #172
Similar, but I'm looking to still pass an empty class through in order to "future proof" the classes. The use case would be that in the future, a designer would be able to come along and add styles to said class, and those changes would go through for that class.

So essentially, I'm aware that passing something like `{  empty-class: false }` would remove the undefined. However, i'd like to be abl

[2018-08-09 21:04] newyork-anthonyng commented on #172
[code]

[code]
The `future-class` class name is added to your component. When your designer comes and adds styling to `future-class`, those changes would go through for that class. Let me know if I'm misunderstanding anything 👍

[2018-08-09 21:15] ron-fugue commented on #172
Ah thank you, this works!

[2018-08-09 21:15] #172 closed

[2018-08-13 19:38] tom-sherman opened #173 "Use `Set` objects for dedupe"
Has there been any research done in improving the performance of `dedupe` by utilising a [`Set`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set)?

Sets are said to be faster<sup>[[1]](https://github.com/anvaka/set-vs-object) [[2]](https://stackoverflow.com/questions/39007637/javascript-set-vs-array-performance)</sup> and are more idiomatic when dealing with li

[2018-08-14 04:57] dcousens commented on #173
@tom-sherman give it a go!
Is compatability an issue though?

[2018-08-15 04:59] dreeeyy opened #174 "Classnames in reactjs"
Whenever i run `npm start`  , and click the `create account` button of my registration form, i get this error:
`TypeError: Cannot read property 'username' of undefined`

here's my code:
[code]
I think it has something to do with how i put it inside the <InputGroup>

[2018-08-24 10:52] newyork-anthonyng commented on #173
I created a [branch](https://github.com/newyork-anthonyng/classnames/commits/feature/an/use-set) here that uses `Set`. I ran the benchmarks locally on my machine; see below.

[code]

It seems like using `Set` is slower in a node environment.
However, I ran this [test in JSPerf](https://jsperf.com/ang-classnames-using-set/1) and it showed a 50% improvement in a browser environment.

[2018-08-31 20:29] tom-sherman commented on #173
Woah, a 2x speedup is pretty major! Should `classnames` support non-modern browsers?

[2018-08-31 22:34] dcousens commented on #173
@newyork-anthony,  can you try multiple browsers?

[2018-09-21 17:13] djadriano opened #176 "Problem Safari 10"
Hey everybody,

I'm with a problem in Safari 10, I don't know if is of webpack build or just classNames library.

<img width="1334" alt="screen shot 2018-09-21 at 2 11 32 pm" src="https://user-images.githubusercontent.com/160537/45895800-877be800-bda8-11e8-92e0-a6322b2c4241.png">

Anyone have the same problem?

[2018-09-24 21:42] dcousens commented on #120
@dstarcev having re-acquainted myself with the `bind` version now,  could you explain what the failing behaviour was,  then what the expected behaviour is?

[2018-09-26 13:21] newyork-anthonyng commented on #176
Can you provide a basic project/repository that reproduces this error?

[2018-10-07 00:20] cliedeman opened #178 "Typescript definitions are missing from package"
bind.d.ts and index.d.ts are not in the npm package. But I don't see anything in the project that should cause them to be excluded.

[2018-10-07 20:43] dcousens commented on #178
They haven't been released yet.

[2018-10-25 03:07] hanzhixing opened #181 "Please consider provide a webpack loader for `classnames/bind` (for css module)."
We can reduce codes like this
[code]
to
[code]

I've tried by myself.

[Example](https://github.com/hanzhixing/moduled-css-binding-loader)

The loader can be placed after `style-loader` or `MiniCssExtractPlugin.loader`.

[2018-10-26 11:02] hanzhixing commented on #181
I found there are at least two another packages for the similar purpose.

[classnames-loader](https://github.com/itsmepetrov/classnames-loader)
[babel-plugin-classnames](https://github.com/giuseppeg/babel-plugin-classnames)

It will be nice if there is an more-official one.

[2018-11-01 17:04] jakubsadura opened #182 "`undefined` should be returned when no classes are needed"
It's quite common that we do not have any class name to be added to DOM, in such case returning `undefined` would allow having cleaner DOM, without empty `class` attributes.

Example with React's jsx:
[code]

results in:
`<i class=""/>`

while it should be:
`<i/>`

@see https://github.com/facebook/react/issues/1448

[2018-11-11 18:29] pushred commented on #120
I encountered this in the process of adopting CSS modules for classes that are likely to conflict. I'm using Tachyons for those less likely. I looked to classnames to simplify interpolating the module classes.

Based on the [bind example](https://github.com/JedWatson/classnames#alternate-bind-version-for-css-modules) I expected classnames to work like usual but swapping module values wherever they

[2018-12-04 21:37] mradamczyk commented on #178
Is there any chance to release version with types definitions sooner than later?

[2018-12-04 22:31] #176 closed

[2018-12-13 16:11] maestrow commented on #80
I'm looking for the same feature in this module and came here. @davesnx, It would be helpful for me and other searching people, if you give a little description - with what preset we could achieve the same? Thanks.

[2018-12-17 08:43] davesnx commented on #80
I came up with a babel-plugin to prefix CSS classes instead, I went for a build-time solution rather than a run-time.

[2018-12-18 03:43] gwillz opened #184 "classnames/bind typings don't restrict key types"
This is a bit weird to explain, so please bear with me.

Edit: I've just realised this probably belongs in @types/classnames.

In the Typescript definitions, the 'classnames/bind' utility accepts a `Record<string, string>`. When passing in a map of values like this, Typescript can extract a set of keys as a string literal type. Currently this is discarded and when using the 'bound' returned functi

[2019-01-02 17:10] seansfkelley commented on #178
Ping @dcousens what would it take to get a release? There's confusion right now about where type definitions belong, since they haven't been released, which is fragmenting work.

[2019-01-03 22:59] aaj commented on #157
Good enough for me. `cx` it is!

[2019-01-04 07:50] dcousens commented on #178
@jedwatson needs to review and merge https://github.com/JedWatson/classnames/pull/177,  then publish.

[2019-01-07 10:01] sunilsharma2214 opened #185 "classNames.bind is not a function"
Getting error while jest testing.
error: - Test suite failed to run
    TypeError: classNames.bind is not a function

**TestComponent.tsx**
import * as React from 'react';
import * as classNames from 'classnames/bind';
var styles = {
  foo: 'abc',
  bar: 'def',
  baz: 'xyz'
};
const cx = classNames.bind(styles);

interface Props {
  title: string;
}
const TestComponent: React.SFC<Props> = props =>

[2019-01-07 12:52] sunilsharma2214 commented on #185
Thanks, It works for me, but just wanted to understand why it's been working in my some of the project's?, do we need to adjust something in  tsconfig... Thanks.

[2019-01-07 16:39] omriLAnyvision opened #186 "add class name count on condition that have true or false result"
Suggestion
-----

Classnames should support add class by condition ( if true add this class else add this class )

For example
[code]

Please let me know if i should open a PR for this feature

[2019-01-07 16:57] newyork-anthonyng commented on #186
I think you can do this already with:

[code]

Also, adding the syntax you're suggesting introduces backward compatibility issues. See this CSS code snippet.

[code]
The new syntax needs to detect if someone wants to use the `class by condition` suggested above, or simply have CSS classes named `true`, `false`, `condition`.

[2019-01-07 18:47] newyork-anthonyng commented on #185
@sunilsharma2214 Can you create a basic sample repository that shows this working?

[2019-01-08 08:00] omriLAnyvision commented on #186
I know that i can use it in this way
[code]
But it's just inflating the code inside the component without reason

the example that provided can change with another way of syntax maybe some array or object with some prototype....
But the main reason to request this feature is because I don't want to inflate my code when I use "classnames"

I just want to add another feature that will support 1 cond

[2019-01-11 19:32] oliviertassinari opened #187 "Update the package using the clsx implementation?"
[clsx](https://github.com/lukeed/) by @clsx provides an interesting improvement over the actual `classnames` package implementation, it's [faster](https://github.com/lukeed/clsx/tree/master/bench) and [lighter](https://bundlephobia.com/result?p=clsx@1.0.0). He has done an awesome job!

However, given how popular classnames is and the relatively small performance improvement of `clsx` compare to th

[2019-01-11 19:59] eps1lon commented on #187
The lighter link should include the [`classnames` size](https://bundlephobia.com/result?p=classnames@2.2.6). `clsx` has 76% of the size of `classnames`. You save 86B gzipped. People need to decide if this warrants a change.

[2019-01-23 13:46] munepom commented on #171
I'm also wondering 🤔

As far as reading below, v2.2.6 was released in 2018-06-08 (in master branch ?)
https://github.com/JedWatson/classnames/blob/30bd487050de10a016ed2abfd6e602619d166ddc/HISTORY.md

But master branch is still being updated...
How about creating v2.2.6 tag from https://github.com/JedWatson/classnames/commit/30bd487050de10a016ed2abfd6e602619d166ddc ??

[2019-01-23 19:41] seansfkelley commented on #178
🏓  @JedWatson

The types maintainers keep having to field confused contributors; can you please take a look at #177?

[2019-02-23 15:27] jquense commented on #187
If we don't think of this as replacing a package with another one, I think the concept here is pretty uncontroversial right?   As in if someone showed up with a PR that made the package smaller and faster without changing the public API in any way, I'd likely merge it in, unless it made the code siginficantly harder to maintain.

In this case the existing code is already so minimal and fairly stat

[2019-02-23 15:34] TrySound commented on #187
@jquense And this is the problem. To not break existing packages dependant on this package it's easier to go with the new one. I see [this PR](https://github.com/JedWatson/classnames/pull/150) and don't believe it will be ever merged.

[2019-02-23 17:28] jquense commented on #187
It's easier for one project to go with something else, it's infinitely harder for the whole ecosystem to switch, which is what is required for there to be anything other than a net lose for most people

Like if the problem here is maintaince lets see if anyone is willing to transfer owner ship? All I'm getting it is the market share of this package is such that evolving it's going to far more effe

[2019-02-23 17:36] vladshcherbin commented on #187
There is also [classcat](https://github.com/jorgebucaran/classcat) package with the same purpose and benefits (size, speed, esm build, etc) so we might end up with bundles with `classnames`, `classcat` and `clsx` inside 🤦‍♂️

[2019-02-23 17:44] oliviertassinari commented on #187
@vladshcherbin [classcat](https://github.com/jorgebucaran/classcat) has a different API. I wouldn't consider it a viable option.

[2019-02-23 18:00] vladshcherbin commented on #187
@oliviertassinari yep, the api is different, but my point is same as yours - if there will be many packages with same purpose, a package creator can take any of them (depending on what google/npm/etc will give you first) so we might end up with bundles bloated with packages doing the same thing.

It would be really nice to see this package updated with best solutions from other packages instead of

[2019-02-23 18:50] TrySound commented on #187
I don't see a problem here. Package authors should update to new major version of classnames (if it will be ever changed) or change it to clsx. In both cases you will get "bundle bloat".

[2019-03-01 09:51] xobotyi commented on #187
@vladshcherbin or [cnbuilder](https://github.com/xobotyi/cnbuilder) same API with classnames, ESM build, size, and speed comparable or superios the classcat.

[2019-03-01 09:55] TrySound commented on #187
@xobotyi Why did you created it? Why not contribute to clsx? Why pollute npm with one more package?

[2019-03-01 10:03] xobotyi commented on #187
@TrySound maybe because my one at least _faster_ that clsx? and does not generate some insane output when unexpected input sneaked?
[code]

And if to follow your logic: why clsx created? why classcat created? why they're poluting npm with one more package that doing exactly the same (and some cases worse than) classnames?

[2019-03-01 10:08] TrySound commented on #187
They exist because classnames cannot accept new features and new distributions. We already tried.
https://github.com/JedWatson/classnames/pull/150#issuecomment-407935829

Nothing stopped you from talking with maintainer of clsx.

[2019-03-01 10:16] xobotyi commented on #187
@TrySound shit%) instead of "edit" pressed "delete" =\

The answer is because their authors thought that they creating something better than original lib.
clsx - faster on strings and objects input and ESM-compatible.
classcat - superiorly faster than classnames and clsx but has less handy API and ESM-compatible.
cnbuilder - has same API as classnames, but in some cases even superior classcat in s

[2019-03-01 10:23] TrySound commented on #187
You probably missed the point of open source.

[2019-03-01 10:43] xobotyi commented on #187
Oh i get the point right..
Changes i've planned to make were equal to creating whole thing from scratch (codebases completely different).
So I'm wasting my time - while working i'm getting money for it, while open-source developing i'm getting... lets call it "the fame".
If i'll make a PR - i wont be in collaborators or elsewhere on front page, only in commits and PR history. If there wont be my n

[2019-03-02 14:55] ElForastero commented on #178
+1

[2019-03-07 16:16] JedWatson commented on #187
Thanks for raising this @oliviertassinari

I've read through the `clsx` implementation and have some questions - it is probably faster because it does a lot less safety checks (e.g skips `hasOwnProperty` and `Array.isArray` in favour of detecting `.push` on objects)

Things like that make me concerned because although it's faster and lighter, it's pretty easy to imagine those shortcuts causing pro

[2019-03-07 16:27] oliviertassinari commented on #187
@JedWatson This sounds awesome!

[2019-03-09 16:49] newyork-anthonyng commented on #173
See here for updated [jsperf numbers](https://jsperf.com/an-classnames-with-set/1). The original ones are returning a `404`.

[2019-03-11 22:38] philihp commented on #186
@omriLAnyvision It sounds like what you want is

[code]

[2019-03-13 10:29] jcousins-ynap commented on #111
Whilst this gets rid of the original error I now get

[code]

[2019-04-10 07:44] vivcogit commented on #163
@dcousens `LICENSE.md` don't included in this case. It's `terser` includes comment with license from `index.js` twice.
I created [issue](https://github.com/terser-js/terser/issues/328) in terser project.

[2019-05-02 16:51] ninbert opened #193 "How to remove a class by condition?"
How to remove a class by condition?

                 <input
                    className={classnames("form-control", {
                      "is-invalid": errors.password, "is-valid": password.length>=8
                    })}
                    onChange={e => this.onChange(e)}
                    name="password"
                    type="password"
                  />

I want to delete the "is

[2019-05-02 17:41] newyork-anthonyng commented on #193
Would this work?

[code]

[2019-05-05 06:41] shawfire commented on #111
I'm using typescript with React and this works for me:
npm i -D @types/classnames
import classNames from 'classnames';

[2019-05-14 05:19] dcousens commented on #171
https://github.com/JedWatson/classnames/releases/tag/v2.2.6

[2019-05-14 05:19] #171 closed

[2019-05-14 05:20] #185 closed

[2019-05-14 05:23] dcousens commented on #120
Can someone provide some test cases for the desired behavior?

[2019-05-14 05:24] dcousens commented on #178
See #177 ...

[2019-05-14 05:24] #178 closed

[2019-05-14 05:25] #186 closed

[2019-05-14 05:26] #193 closed

[2019-05-14 05:28] dcousens commented on #181
I think this is out of scope.  Happy to re-open by popular demand.

[2019-05-14 05:28] #181 closed

[2019-05-14 05:28] #132 closed

[2019-05-14 05:29] dcousens commented on #173
See https://github.com/JedWatson/classnames/pull/175

[2019-05-14 05:29] #173 closed

[2019-05-28 16:14] iamdey commented on #176
I've a user who has this problem too on safari 11 if the error is the same:

https://twitter.com/charlyplaye/status/1133358421225480193/photo/1

it might be something related to webkit.

safari 12 ok.

I don't have any mac/safari11 to confirm :s

[2019-06-21 06:44] oliviertassinari commented on #187
For people interested in performance, they might enjoy https://github.com/merceyz/babel-plugin-optimize-clsx.

[2019-06-25 08:36] uhyo opened #195 "Question: is it supported to use `classnames/bind` without calling bind() ?"
Currently, the export of `classnames/bind` can be used just the same as `classnames`, without calling `bind()`:

[code]

But I couldn't find any document nor test which mentions this behavior.
Also, the current type definition doesn't support this usage.

Is this an officially supported behavior, or something we shouldn't rely on?
If the former is the case, I'm planning to send a PR to DefinityTyp

[2019-06-25 12:26] newyork-anthonyng commented on #195
See the example in the `README.md`.

[code]

`Function.prototype.bind` is part of JavaScript, and not specific to `classnames`. [See the MDN documentation for more details.](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_objects/Function/bind)

I believe it works as expected. See example below:

[code]
It prints out `abc` instead of `foo`, because `foo` was found in the `

[2019-06-25 12:36] uhyo commented on #195
I know it works. I want to know if I can rely on this undocumented behavior.
In other words, I'm asking whether a change to this behavior would be considered as a breaking change.

I'm asking this because the docs or the source code do not answer my question.
Specifically, on writing types for `classnames`, I don't want to give types to what shouldn't be used.

[2019-06-25 12:55] newyork-anthonyng commented on #195
@uhyo Do you think updating the docs with an example like the below would be better?

[code]

This isn't undocumented behavior. It uses `Function.prototype.bind`.

[2019-06-25 13:15] uhyo commented on #195
I would like an example like this:

[code]

I felt that the use of `Function.prototype.bind` could be just an implementation detail.
The only documented thing about `classnames/bind` is how `classNames.bind` can be used,
which means that, the fact that `classNames.bind` is `Function.prototype.bind` is not something guaranteed by the document.

I'd like that guarantee; otherwise, the actual impleme

[2019-06-25 13:38] newyork-anthonyng commented on #195
Sidenote: [This test shows the behavior that you found](https://github.com/JedWatson/classnames/blob/master/tests/bind.js#L100-L102).

[2019-06-25 13:58] uhyo commented on #195
Ahh... not that line, but [this one](https://github.com/JedWatson/classnames/blob/master/tests/bind.js#L18) is what I was looking for.
I can't believe I missed this whole large block of code.
I'm sorry for opening this issue.
Thank you @newyork-anthonyng for the discussion.

[2019-06-25 13:58] #195 closed

[2019-07-18 05:20] JaeYeopHan opened #199 "Cannot install index.d.ts (type definition file) in 2.2.6 versio"
## Description

[code]

_in `node_modules`_

![Screen Shot 2019-07-18 at 2 19 41 PM](https://user-images.githubusercontent.com/17924127/61431058-217bd500-a967-11e9-873d-86a88a7362fd.png)

shoul i install `@types/classnames`?

[2019-08-25 03:55] rstone770 commented on #199
Im having this issue as well and can confirm the are not in included in the package.

[2019-08-25 04:17] rstone770 commented on #199
I checked the actual tar published on [npm](https://registry.npmjs.org/classnames/-/classnames-2.2.6.tgz) and the types are simply not included. I noticed that there was a [pr]https://github.com/JedWatson/classnames/commit/2c76e87c4afdc7f6ceec5e10c0b9dba08cb4dcbb#diff-b52768974e6bc0faccb7d4b75b162c99) done about a year ago, maybe the package was published with an older version of NPM that did not

[2019-08-28 15:45] lastmjs opened #200 "Add Ethereum name or address to package.json"
I would like to see an Ethereum name or address added to the ethereum field of the package.json file. This will allow consumers of the project to know a canonical address to send funds to. For example, I'm building an application that will allow developers to automatically donate ETH to all of their npm dependencies that have an Ethereum address in their package.json file.

Having an Ethereum addr

[2019-09-26 15:03] vivcogit commented on #163
This bug fixed in terser. I think this issue can be closed

[2019-09-26 18:23] brianbegy opened #201 "Passing arrays to cx results in a className string with commas"
sample code here: https://github.com/brianbegy/classnames-array-poc

[code]

expected result:
`strings are ok`
`but arrays have commas`

actual result:
`strings are ok`
`but arrays,have,commas`

Is this the intended behavior?

[2019-09-26 19:11] brianbegy commented on #201
Having looked through the code and written a solution, it is pretty obvious that "fixing" it would have a serious performance cost.

I'll leave this open for the moment, but this looks like a "won't fix" to me.

[2019-09-26 21:07] newyork-anthonyng commented on #201
@brianbegy Is this what you wanted?
[code]

[2019-09-26 23:19] #163 closed

[2019-10-07 22:35] brianbegy commented on #201
I want the array to be conditional.  But since the value of the classes are used as a key, it gets hairy.

[2019-10-08 01:47] newyork-anthonyng commented on #201
@brianbegy the default behavior of JavaScript is:
  * if an array is an Object's key
  * convert each array element into a string
  * and join them together with commas

[code]

The commas seem to be something related to JavaScript, and not this package.

[2019-10-10 04:39] BenRussert opened #202 "How to use on Edge browser with AMD global?"
The Edge browser does not load this library due to the logic below and the `define` global shipped with the Edge browser:

https://github.com/JedWatson/classnames/blob/5d971e41f3b9c8047b61503952a413f00122b52c/index.js#L44-L47

Basically `define` and `define.amd` work as functions in the Edge environment, but `classNames` is still `undefined` after all this runs. Everything works fine in firefox/ch

[2019-10-10 12:42] anvaynk commented on #202
Sure, Edge is shipping with Chromium soon! :-P

[2019-10-11 02:16] BenRussert commented on #202
Ha, yeah that will fix it.

Anyway I'll close this because I think it was something in my environment.

[2019-10-11 02:16] #202 closed

[2019-10-14 13:51] DiscoNova commented on #182
I may be commenting the obvious on this old PR, but this simply will not work no various cases where classnames is still supposed to do its thing while not introducing unexpected classes to elements.

For example ... ```document.documentElement.classList.add(undefined)``` leads to, you may have guessed it ... ```<html class="undefined">``` - which quite likely isn't what the author of the code int

[2019-10-14 17:02] rades12340 opened #203 "I can't install classnames in React project"
I'm having a problem installing classnames with these message from console after trying to install it with npm
[code]
**Versions:**
react: 16.10.2,
react-dom: 16.10.2

[2019-10-14 22:09] dcousens commented on #182
See #183

[2019-10-14 22:09] #182 closed

[2019-10-15 12:13] newyork-anthonyng commented on #203
The error message says:
[code]

I would take a look at some of these [StackOverflow solutions](https://stackoverflow.com/questions/40566348/maximum-call-stack-size-exceeded-on-npm-install) and see if it helps.

[2019-10-15 13:23] rades12340 commented on #203
I realized that when at the end I couldn't do anything that restart pc and npm could work again.

[2019-10-16 12:04] mikaello opened #204 "Feature request: Option to return list of classes instead of just single string"
`classnames()` returns a single string. While the DOM API function `<element>.classList.add()` expects a rest parameter, which can be given by either supplying individual arguments `add(a, b, c)` or array spread: `add(...[a, b, c])`.

To use `classnames()` with `classList.add()` you will either have to call `add()` multiple times with a single argument to `classnames()`, or split the result and ap

[2019-10-19 07:18] theKashey opened #205 "Not compatible with TypeScript"
[code]

***

The current version of classnames is not exposing `default` in a ESM format, as well as `d.ts` has no mention of it. As a result `import * as cx from 'classnames'`, is a correct way to load this module from a TypeScript perspective.
However, if the result code would be compiled down using Babel, and Babel can compile TypeScript this would lead to the runtime exception - `cx is not an

[2019-10-19 09:48] nicolo-ribaudo commented on #205
The `d.ts` file already contains `export default classNames`. Which error does typescript report if you do `import classnames from "classnames"`?

[2019-10-19 21:49] theKashey commented on #205
It does not throw error in this case. As well it does not throw error for `import * as classnames` and that was how _historically_ classnames were supposed to be imported, as long as local `d.ts` was updated _just_ a year ago.

As a result - the main problem here is `@types/classnames`, which shall be removed, as long as they are containing the _unsafe_ definitions, and _historically_ are included

[2019-10-24 18:00] alexanderbartels commented on #201
wouldn't it be the easiest solution is to manually join your items with a whitespace:
[code]

[2019-10-31 08:19] doxiaodong commented on #205
the `index.d.ts` was not be published

[2019-11-04 08:25] mitsuruog commented on #205
Seems `index.d.ts` is not published.  please add the bellow section to your `package.json`

[code]

or the workaround is just to use `@types/classnames` for a while.

[2019-11-27 17:48] thedanchez opened #207 "[QUESTION] Conditional classname inclusion using classnames with CSS Modules"
Given the following:

[code]

The `classnames` library doesn't seem to add the class even the loading condition is met. How do we handle this case? Or can we not use conditions with CSS/SCSS module class names?

[2019-11-27 18:07] newyork-anthonyng commented on #207
This should work. Can you create a `codesandbox` that recreates this problem?

[See this codesandbox for a working example](https://codesandbox.io/s/gracious-neumann-nvv2v).

Sidenote: Probably unrelated, but you're missing a closing tag in your `button`

[2019-12-03 14:24] knobo opened #208 "Support for toString on objects"
If an object has a `toString` method (`.hasOwnProperty("toString")`), then this function should be run before further using the result.

A react library that uses classnames, could then be easier to use for those who uses `bem-cn`.

Since react automatically apply .toString() to the className,  many users of react passes an object to className attribute of react components. If that component is a

[2019-12-03 21:31] #200 closed

[2019-12-03 21:32] dcousens commented on #208
Please comment / express support for https://github.com/JedWatson/classnames/pull/170 instead

[2019-12-03 21:32] #208 closed

[2019-12-03 21:33] #203 closed

[2019-12-03 21:34] dcousens commented on #205
Waiting on https://github.com/JedWatson/classnames/pull/177

[2019-12-03 21:34] #205 closed

[2019-12-03 21:37] #207 closed

[2019-12-03 21:37] #199 closed

[2019-12-03 21:37] dcousens commented on #199
Waiting on https://github.com/JedWatson/classnames/issues/199 and @JedWatson to publish

[2019-12-03 21:38] dcousens commented on #204
@mikaello `classnames/list` probably!
But,  maybe it might be out of scope for this package?

[2019-12-03 21:39] #201 closed

[2019-12-03 21:40] #187 closed

[2019-12-03 21:41] #120 closed

[2019-12-08 04:27] langpavel opened #209 "TypeScript types are not distributed in published package"
It's not possible to use `classnames` with typescript because types are not published.

[2019-12-12 02:39] iRoachie commented on #209
@dcousens can you cut a release with the types included?

[2019-12-15 01:24] ScottyFillups commented on #209
Does `npm install --save-dev @types/classnames` work for you? Worked for me :man_shrugging:

[2019-12-16 04:18] iRoachie commented on #209
@ScottyFillups the request is to bundle it with the library. It's already in master https://github.com/JedWatson/classnames/blob/master/index.d.ts, just not pushed to npm

[2019-12-16 12:19] ScottyFillups commented on #209
Ah, I see

[2020-02-18 15:53] liamross commented on #209
Is this repo dead? This would be a nice to have and would be extremely easy to do in a patch version, not sure why types were included in master 16 months ago and still haven't been published

[2020-02-18 15:57] JasonLandbridge commented on #209
Was about to say the same thing

[2020-03-03 00:56] iMoses commented on #120
I really want to have this feature in classname/bind.

Are you still open to the idea? I can have a PR ready ASAP :)

[2020-03-03 23:27] electic commented on #209
I think it is dead :(

[2020-03-18 20:32] kWeglinski commented on #204
I know it's there for pretty long time but why don't you just wrap it? Make a helper function in project `splitClassNames = (...params) => ...classnames(...params).split('');` so usage would be `add(splitClassnames(a, b, c)`

[2020-03-19 14:38] mikaello commented on #204
I don't think you could use the spread syntax in the way you do there. See [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax):

But even if that would have been allowed, it still will require the result of `classnames(..)` to be unnecessarily splitted (unnecessarily because the string is an array in the lib before [being joined](https://github.com/JedW

[2020-03-19 15:15] kWeglinski commented on #204
True, you can't spread it like that because return has to have one element. So `splitClassNames = (...params) => classnames(...params).split('');` and then `add(...splitClassnames(a,b,c)` OR `addClassnames = (classList, ...params) => classList.add(...classnames(...params).split(''));` What you're looking here for is micro optimisation, which by rule of thumb is not worth to bother. Especially when

[2020-04-17 10:26] mac066 opened #212 "Couldn't run in typescript project"
"typescript": "^3.8.2",
"webpack": "^4.42.1",
"webpack-cli": "^3.3.11",
"awesome-typescript-loader": "^5.2.1"

Child process failed to process the request: TypeError: Cannot read property 'kind' of undefined
    at Object.isEntityNameExpression (/node_modules/typescript/lib/typescript.js:16652:21)
but it run in typescript 3.5.2

[2020-05-14 03:48] BLuEScioN opened #213 "Bug with Id generator is causing accessibility errors"
The bug I am seeing is that some tab and tab panel ids are being reused. This fails accessibility compliance standards. Not to mention that Ids in the DOM are supposed to be unique. My special use case of the tabs is that I use the control within itself, so a  tab has another tab control within it. I believe this is the source of the bug. Here is a snapshot of the DOM that shows the duplicate Ids

[2020-05-14 13:17] newyork-anthonyng commented on #213
@BLuEScioN `classnames` is a JavaScript utility that conditionally joins strings together.

I'm not sure if this package is the source of your bug.

[2020-05-14 22:29] #213 closed

[2020-06-08 04:05] tanobi92 opened #214 "classnames error when render string "function fixed() { [native code] }""
I have code:
`const { menuR = {}, fixed = false } = this.props;
		const { collapsed = false } = menuR;
		const cx = classNames(styles.header, {
			[styles.fixed]: fixed,
			[styles.collapsed]: collapsed,
		})`
I  trying use classnames. But it not work. I use debug F12 browser, variable "cx" return "function fixed() { [native code] }".

How to fix it? Help me, please!
Thanks!

[2020-06-08 12:25] newyork-anthonyng commented on #214
@tanobi92 Can you create a simple example of this bug in CodeSandbox?

[2020-06-09 02:27] tanobi92 commented on #214
@newyork-anthonyng my CodeSandbox: [![Edit config use less as variables](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/blissful-field-pw5vd?fontsize=14&hidenavigation=1&theme=dark)

[2020-06-09 02:32] tanobi92 commented on #214
My project in local actived craco config, but when I show log styles.header, then it return undefined.

[2020-06-09 12:08] newyork-anthonyng commented on #214
[code]

`styles.fixed` is a function; it should be a string. I'm not too familiar with `craco`, but you should look at `css modules`.

[2020-06-10 02:03] tanobi92 commented on #214
I followed the intructions antd's documents about craco, but it not worked. I tried to use UmiJS to config it to work. Thanks @newyork-anthonyng.

[2020-06-10 10:09] tanobi92 commented on #214
@newyork-anthonyng help me config with webpack.

[2020-06-10 11:40] newyork-anthonyng commented on #214
@tanobi92 You should open a question on StackOverflow. This isn't a problem with `classnames`.

[2020-06-12 11:13] Sultanidze commented on #184
@Rogdham it's a cool feature untill you have bootstrap globally in project, `cx('container')` in markup, and empty `.container` class rule inside module styles (or forgot to add it during building markup)

[2020-06-16 10:51] lemarcgagnon opened #215 "how to implement the ‘>’ for CSS DIRECT children"
Hello! I want to integrate  this style from Makestyle of MUI

"deck > div": {
    position: "absolute",
    width: "95%",
    height: "80%",
    display: "flex",
    justifyContent: "left",
    alignItems: "center",
    willChange: "transform"
  },
  "deck > div > div": {
    backgroundColor: "white",
    backgroundSize: "auto 85%",
    backgroundRepeat: "no-repeat",
    backgroundPosition: "cente

[2020-06-16 12:01] newyork-anthonyng commented on #215
You should look at the documentation for `makeStyles`; this question isn't related to `classnames`.

One suggestion is to refactor your CSS and HTML to look like this:
[code]

[code]

[2020-06-17 10:46] Sultanidze commented on #184
Could anybody say, does exist forked project which `bind.js` doesn`t add global className?
I prefer use global className explicitly inside my module:
[code]

I would like to avoid patching it via `patch-package` inside my project

[2020-06-17 10:48] inomdzhon commented on #209
Hi, @JedWatson!

Can you please publish version with `index.d.ts` to npm? 🙏 🙏 🙏

[2020-07-07 17:52] webOS101 commented on #184
I ran into something similar.  I created a debug version of `classnames.bind` that warns on non-existent keys.  Perhaps it would be useful to add a debug version of `bind` that could be used outside of production to catch these sorts of errors?

[2020-07-07 23:52] gwillz commented on #184
I should probably link the discussion [in DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/32317) for clarity. The ticket was closed because this kind of restrictive typing prevents the pass-through of global styles.

If there was some way to produce warnings instead, I think that'd be more applicable. But only if there were a way to selectively suppress those warnings - fo

[2020-07-08 21:15] webOS101 commented on #184
@gwillz Yep, I was just adding my $.02. In my debug, I had a list of acceptable global classnames.  BTW, this ticket still shows as open.

[2020-08-07 10:20] LitoMore commented on #209
Any progress?

[2020-08-07 14:39] liamross commented on #209
No, but in the meantime there is a up-to-date DefinitelyTyped definition for it.

[code]

[2020-08-10 13:44] TSiege opened #220 "Is this project dead?"
I've seen a lot of good pull requests either languishing on the vine or merged but not published. This package is very popular and actively gathering new PRs, and seems like it'd be easy to just solve most issues users are having by running `npm publish`.  So I'm wondering is this project dead? How many of the maintainers have publishing access, and can someone else be added to a maintainer?

[2020-09-17 19:24] mogzol opened #221 "Bump version?"
Pull request #170 was merged in March, and it contains a fix that would be very useful for my codebase, but the version of this package has never been incremented, so I can't use those changes. Could the package version please be incremented and pushed to npm so we can use the new changes?

[2020-10-02 08:48] michielmetcake commented on #221
@JedWatson maybe you could add some persons to this repository to maintain it?

[2020-10-07 18:16] InsOpDe opened #222 "Warn if classname is undefined"
It would be good if one can toggle a flag which then outputs warnings if input-class names are `undefined`
Would help with refactoring and debugging

[2020-11-14 15:23] jayu opened #224 "Add jscodeshift codemod to README"
Hey, I created a [jscodeshift](https://github.com/facebook/jscodeshift) codemod for migration from template literal based class names concatenation to this library.
It would be awesome to link it somewhere in the readme, then potentially more people could use it.
I'm happy to open a PR if you don't mind

Here is the codemod https://github.com/jayu/template-literal-classnames-codemod

[2020-11-24 00:56] KevinBurton opened #225 "Computed property type"
I have the following in a TypeScript file:

[code]
This gives me

[code]

I don't know enough about TypeScript to see what I am doing wrong, Ideas?

[2020-12-01 06:07] borisowsky commented on #225
Without context, it's hard to understand what's going on in your code, but try this out:
[code]

[2020-12-16 14:48] stefanoruth commented on #221
Would love to get a new release on this repo.

[2020-12-20 11:56] hosseinmd commented on #112
Order of class names is not correct.
Imagine we have this:
``` className='foo bar' ```

If we use this module there is a problem.
``` className= classNames('foo','bar') // return 'bar foo' ```

Class names should be reversed.

[2020-12-20 14:15] newyork-anthonyng commented on #112
@hosseinmd can you provide an example of this?

https://codesandbox.io/s/vigilant-smoke-cnogr?file=/src/App.js

I created a codesandbox for this; it works as expected.

[2021-01-14 18:58] steveoh commented on #221
`npm install --save clsx` :trollface:

[2021-01-14 18:58] steveoh commented on #220
`npm install --save clsx`

[2021-01-23 21:58] Semigradsky commented on #221
Friendly ping @JedWatson

[2021-01-26 16:08] xiaoxiangmoe commented on #221
Friendly ping @JedWatson

[2021-01-30 15:45] Flcwl commented on #220
@steveoh  The `clsx` package is excellent in performance and size, It's good for me! thx~

[2021-03-06 00:27] hanayashiki opened #226 "why not merge this into React"
Every time to specify multiple classes i need to write the long "className(...)" to get this basic yet convenient utility. This does not conflict current react typings and should work with current code perfectly

[2021-03-18 09:10] rapritchard commented on #226
Pretty sure this project is dead, so unlikely to happen.

[2021-03-21 02:07] ekim088 commented on #225
This should work. Since `className` is possibly undefined TS won't let you use it as a key without casting or converting it.

[2021-03-23 19:01] hanayashiki commented on #226
so clsx is alive?

[2021-03-30 14:07] JedWatson commented on #226
Funny story: way back in 2015, I had this library, and React shipped a similar (but more limited) utility.

The React team wanted to **unbundle** their utility because of all the support request it generated, so they pointed the react docs here and ✨ hey presto, classnames became one of the most downloaded packages in the ecosystem.

So I doubt at this point they're going to merge it back in.

Ove

[2021-03-30 14:09] JedWatson commented on #221
Sorry for the delay here, @dcousens has been helping and recently shipped a new version with the merged changes.

[2021-03-30 14:09] #221 closed

[2021-03-30 14:11] JedWatson commented on #221
Wait, no sorry - I just checked and it looks like the npm publish hasn't happened yet (although the blocking PRs have been merged)

I'll check that out first thing tomorrow and make sure we actually do publish it

[2021-04-01 02:40] #226 closed

[2021-04-01 05:43] JedWatson opened #230 "Setup GitHub Actions"
We previously had TravisCI set up, lets set up GitHub Actions for CI and benchmarking

[2021-04-01 07:18] #209 closed

[2021-04-01 07:19] dcousens commented on #209
See https://github.com/JedWatson/classnames/releases/tag/v2.3.0

[2021-04-01 07:58] dcousens commented on #212
@mac066 I don't think I can help you without additional information.
Maybe if you had a resolution you could post it for others?

I'll close this for now, but don't hesitate to re-open if you still experience this.

[2021-04-01 07:58] #212 closed

[2021-04-01 07:58] #214 closed

[2021-04-01 07:59] #184 closed

[2021-04-01 07:59] dcousens commented on #184
The types are restricted now to the same types that are accepted as arguments (see #229),  closing for now.

[2021-04-01 08:00] dcousens commented on #222
@InsOpDe maybe for insight into how we could improve the package,  why is `undefined` problematic and something you want to eliminate?

[2021-04-01 08:02] #225 closed

[2021-04-01 08:03] #215 closed

[2021-04-01 08:32] inomdzhon commented on #209
@dcousens thanks a lot! 🙏

[2021-04-01 09:05] InsOpDe commented on #222
Consider following use-case:
[code]
[code]
webpack et al renames the classnames from kebab-case to camelCase if is configured to do so.

If it is not, however, `styles.someClass` would yield `undefined`, instead of `some-class`. If I then would get a warning that `classnames` received `undefined` I would know that there is something wrong with my `key` instead of something with my `css`

Other tha

[2021-04-01 11:14] fazeelzama20 opened #233 "This expression is not callable. Type 'typeof import (./path) has no call signatures."
The version which published today 3 hours ago (01/04/2021) having some breaking changes. The project was working fine before the last update. Currently, I am using the version "@types/classnames": "^2.2.0",  "classnames": "^2.2.6".
While running the build I am getting the below error
"This expression is not callable. Type 'typeof' import (./path) has no call signatures."

[2021-04-01 11:44] OlehStepaniuk commented on #233
Got the same error, just changed import * classNames from 'classnames' -> import classNames from 'classnames' and now works fine.

[2021-04-01 15:13] dkaraush opened #235 "Objects without index signature cannot be passed as an argument (TypeScript)"
Today got an error while building my project. Digging deeper I saw a commit: https://github.com/JedWatson/classnames/commit/6c684f8b2a2ca2e764eac0dd35c5c7af19c2b7f5

Basically it breaks two features of the library:
1) sending objects
There is new `Mapping` which strictly has an index signature (`{ [key: string]: Value };`) and this can be incompatible with objects that don't have such signature. F

[2021-04-02 07:03] rouwe111 commented on #233
I've got the same problem. I am using `import classNames from 'classnames/dedupe';`.

[code]

[2021-04-02 08:12] flowven opened #236 "Typescript <3.7 is not supported"

[2021-04-02 08:12] flowven commented on #236
![image](https://user-images.githubusercontent.com/11953505/113396542-4380e980-93ce-11eb-9672-06745ad69402.png)

[2021-04-02 20:31] dcousens commented on #236
@flowven this raises an excellent question,  what is the minimum version of typescript that we want to support?

[2021-04-02 20:39] dcousens commented on #233
`import classNames from 'classnames'` is what you want.

As for `dedupe`, it is missing a default export, I will fix that bug.

[2021-04-02 20:39] dcousens opened #237 "Types for dedupe have no default export"

[2021-04-02 20:39] #233 closed

[2021-04-02 21:30] dcousens commented on #237
Fixed in https://github.com/JedWatson/classnames/commit/77fd7e0cfe05e7ca6cb6ba586e3baeed6fcfcf5c

[2021-04-02 21:30] #237 closed

[2021-04-02 21:34] dcousens commented on #235
@dkaraush please try `classnames@2.3.1`,  this should have been resolved (credit to @remcohaszing for the timely PR)

[2021-04-04 10:04] Semigradsky commented on #236
Typescript v3.6 Release date - August 2019.
`DefinitelyTyped` support 2 years old versions. What's about `classnames`?

[2021-04-05 15:14] remcohaszing opened #238 "Convert to ESM only"
On 2021-04-30, 25 days from now, NodeJS 10 will reach end of life. From that point all NodeJS environments will support ESM. Of course module bundlers already support this.

There are two older pull requests to achieve this. Both are trying to keep backwards compatibility

- #150
- #194

I think it’s time to drop support for alternative module systems and bower, meaning no new devdependencies are

[2021-04-05 15:16] remcohaszing commented on #236
If this is desired, I can setup tests for multiple TypeScript versions using dtslint, which is what DefinitelyTyped uses for testing multiple TypeScript versions as well.

[2021-04-06 03:45] dcousens commented on #236
@flowven any reason for close?

[2021-04-07 12:33] flowven commented on #236
@dcousens I have updated typescript

[2021-04-07 22:41] JedWatson commented on #238
This is really close to something @dcousens and I were talking about just last week 👍

I am not sure that having `master` and `main` both in the project will make it easier for most people but it's definitely an interesting idea!

But really at this point I think a new major version that's future-facing would be great.

[2021-04-08 10:03] remcohaszing opened #239 "Remove support for numbers"
Numbers are currently allowed, but they yield unexpected results

[code]

This may not be much of an issue, but the readme explicitly states this package is for joining class names. Numeric values aren’t valid class names, but they’re explicitly supported in the implementation.

According to the type definitions, numbers are supported.

Since breaking changes are on the way, I think it makes sense

[2021-04-09 06:39] dcousens commented on #239
Following the history, numbers are [explicitly supported in the code](https://github.com/JedWatson/classnames/blob/master/index.js#L22-L23) since https://github.com/JedWatson/classnames/pull/8

I concur they don't make sense,   maybe they could be useful in the `bind` variation?
Removing them now would be a breaking change,  but,  +1 for the future.

[2021-04-10 07:21] dkaraush commented on #235
Tested and it works, thanks to @remcohaszing!
Closing an issue.

[2021-04-10 07:21] #235 closed

[2021-04-12 19:56] remcohaszing commented on #238
I wouldn’t reommend it though. This was purely an idea not to break bower users depending on the `master` branch, which I think is a bad idea anyway.

[2021-04-13 22:00] dcousens commented on #222
@remcohaszing thoughts?
I think,  like in https://github.com/JedWatson/classnames/issues/239,  these are undesirable types,  but, the JS should probably only be defensive (ignoring them),  while the typescript types could be strict?

[2021-04-13 23:08] dcousens commented on #204
I'm not against this,  but I don't think it will be as simple as only returning the array before the `.join`,  and I don't think you could reasonably support the same parameter types without falling back to `.split` internally.

I'd recommend using `.split` yourself for now.

[2021-04-13 23:08] #204 closed

[2021-04-14 01:34] BrianAtIgloo opened #240 "Class names being returned as `[object Object]` as of v2.3.0"
Hi, first off - thank you for maintaining this fantastic package!

That said, we've run into an issue with v`2.3.0` where our bundled components are now outputting `[object Object]` class names because of [this recent change](https://github.com/JedWatson/classnames/pull/170) to support a custom `toString` fn.

The problem only occurs after we run our code through our build pipeline which uses Roll

[2021-04-14 02:20] dcousens commented on #240
Is that to imply that the pipeline is mangling the resultant object's `toString`?

[2021-04-14 02:33] dcousens commented on #240
@BrianAtIgloo could you verify if `.hasOwnProperty('toString')` resolves your issue?

[2021-04-14 08:29] remcohaszing commented on #222
I get where this issue is coming from. I use CSS modules myself. However, this is a problem of CSS modules, not `classnames`.

I consider accepting values to be a very useful feature of this package. A practical example:

[code]

It’s desirable to ensure `styles.button` is defined, but not to check `className`. In TypeScript strict mode the type of `className` is `string | undefined`, meaning `cla

[2021-04-14 09:06] InsOpDe commented on #222
You are absolutely correct. I didnt consider this use-case

[2021-04-14 14:11] dcousens commented on #222
💯 ,  thanks for reminding us @remcohaszing that `undefined` is truly first class in the module's usage.

[2021-04-14 14:11] #222 closed

[2021-04-14 14:27] BrianAtIgloo commented on #240
Thank you for the quick reply + troubleshoot! I confirmed using `hasOwnProperty` works, I can open a PR later today 👍

[2021-04-19 08:05] jonkoops commented on #238
@remcohaszing I believe that Node 12 (which is an LTS version) does not support this syntax unless you explicitly pass the `--experimental-module` flag when starting Node. Perhaps this is not so for packages, but I cannot find any documentation that indicates this.

[2021-04-19 08:08] remcohaszing commented on #238
From https://nodejs.org/en/blog/release/v12.22.0/

[2021-04-19 08:36] jonkoops commented on #238
Nice, that's great. Glad the Node team decided to flip this one on in a minor release.

[2021-04-19 13:12] jonkoops commented on #238
I've forked the repo and played around a bit to see what the impact is of switching to ES modules (see #243).

[2021-04-26 18:29] Utkarshbhimte opened #246 "Typescript is not working properly"
[code]
This is the error I am getting

When I went to the node_modules, there is no index.d.ts file
![image](https://user-images.githubusercontent.com/13379773/116132607-5cd63680-a6eb-11eb-8818-9a3ace229353.png)

What is happening here? All other libraries are working fine.

[2021-04-26 21:57] dcousens commented on #246
@Utkarshbhimte what version of classnames are you using?

[2021-04-27 06:00] Utkarshbhimte opened #247 "Typescript is not working properly"
[code]
This is the error I am getting

When I went to the node_modules, there is no index.d.ts file
![image](https://user-images.githubusercontent.com/13379773/116132607-5cd63680-a6eb-11eb-8818-9a3ace229353.png)

What is happening here? All other libraries are working fine.

[2021-04-27 06:03] dcousens commented on #247
Duplicate of https://github.com/JedWatson/classnames/issues/246

[2021-04-27 06:03] #247 closed

[2021-04-27 06:03] bmakan commented on #246
I had the same issue. Even after running `npm i --save-dev @types/classnames` the ts couldn't find the declaration files. I upgraded to `v2.3.1` and the issue's gone. (Was on `v2.2.6` previously.)

[2021-04-27 06:05] Utkarshbhimte commented on #246
@dcousens `2.2.6`

[2021-04-27 06:11] dcousens commented on #236
I think a 2 year LTS-like support schedule is the path forward,  but we only recently added these types, thereby we aren't actually in a maintenance period for them?
Without a show of support for <3.7,  I'm happy to leave this as is.

[2021-04-27 06:14] dcousens commented on #246
Typescript types were only added to this repository in [v2.3.0](https://github.com/JedWatson/classnames/blob/8d6f4f1c84da2402b6765be8d7b7d0d6b1dc835c/HISTORY.md#v230--2021-04-01)

[2021-04-27 06:14] #246 closed

[2021-05-04 04:29] BPScott commented on #239
[The CSS Spec](http://www.w3.org/TR/CSS2/syndata.html#value-def-identifier) says you can't start a class name with a number. HOWEVER you can start it with a backslash-escaped identifier. So ".2 {}" is invalid, but ".\32 {}" - the character sequence for '2' is valid.

You need a bit of trickery to define them in css but `class="2"` is totally valid. See [this codepen](https://codepen.io/BPScott/pen

[2021-05-04 06:24] remcohaszing commented on #239
That's weird, but it makes sense to keep support for this then.

[2021-05-04 08:14] coadan commented on #236
Isn't it possible to rewrite it to be backwards compatible?

[code]

I believe this should be functionally the same as the self referencing one.

[2021-05-04 21:58] dcousens commented on #236
@coadan open a pull request? :smile:

[2021-05-05 06:34] coadan commented on #236
@dcousens  https://github.com/JedWatson/classnames/pull/248

[2021-05-05 08:00] dcousens opened #249 "Test the Typescript types"
https://github.com/JedWatson/classnames/pull/248 has brought to my attention that the types, as is, are seemingly equivalent to `classNames(...args: any[]): string`.

It'd be nice to have some tests to verify that _isn't_ the case, otherwise, we could probably simplify the definitions...

[2021-05-05 08:00] dcousens commented on #249
@remcohaszing you mentioned `dtslint` might be useful here, did you have anything particular in mind before I search this space?

[2021-05-05 08:02] dcousens commented on #249
@coadan if this isn't something we can turn around in a few days, I'll publish your changes as is :+1:

[2021-05-05 08:04] #236 closed

[2021-05-05 08:04] #230 closed

[2021-05-05 08:26] remcohaszing commented on #249
syntax-tree/unist-util-remove#3 is just a random example of what it could look like.

Basically:

- Add `tslint.json`
- Add `tsconfig.json`
- Add `classnames-test.ts`, which contains the actual tests
- Update CI to run `dtslint`.

This will assert the types work for various TypeScript versions. This is the same tool that’s used by [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyType

[2021-05-05 23:27] dcousens commented on #249
@remcohaszing if you'd like to do the PR, that'd be highly appreciated!  The steps + link provided is amazing on their own though and I'm happy follow up if you run out of time. :+1:

[2021-05-12 06:23] #249 closed

[2021-05-17 08:54] WoodyWoodsta commented on #246
I think a proper changelog would help with these types of questions.

[2021-05-25 15:10] lesar opened #254 "add support for hyperscript"
at this [row](https://github.com/JedWatson/classnames/blob/1594fd7637fa30f538f262894e9f0d3ba4067992/index.js#L44) if we can make join on classes parameterized we can use on hyperscript too.
some like this:
[code]
In this manner a user can import cfg on first main js file and do:
[code]
this can be use in hypescript:
[code]

what do you think about?

[2021-06-09 23:36] markdalgleish commented on #240
We're experiencing this issue because we're executing our render code in a Node VM, which means we actually have multiple Object globals in memory and the `toString` equality check fails. I managed to create a minimal reproduction: https://runkit.com/embed/3svylngmhh23

[2021-06-15 19:05] amandaol opened #256 "Do not return numbers"
A class name can not be a number/digit: https://www.w3.org/TR/CSS2/syndata.html#characters

While a class name can contain a digit, it can not be lead with a digit which means, among other things, the class name can not be only a number/digit.

Line https://github.com/JedWatson/classnames/blob/master/index.js#L22 specifically supports a use case (returning a digit/number) which will never work.

I

[2021-06-15 21:55] dcousens commented on #256
Hi @amandaol ,  we recently discussed this in https://github.com/JedWatson/classnames/issues/239,  please follow up any questions/comments there :+1:

[2021-06-15 21:55] #256 closed

[2021-06-15 22:50] amandaol commented on #239
If something requires trickery to do it isn't a recommended pattern. While I don't think this particular Github issue is the biggest deal in the world, I do not follow the logic of this conversation. So, our working assumption/premise is: we support all edge cases including those that can be described as "trickery"? To me, this is why we should **not** do something.

Again, not a big deal! Just sa

[2021-06-15 23:13] dcousens commented on #239
Removing `number` now is a breaking change,  but,  I don't think we'd risk the problem of being too opinionated by removing type `number` from the acceptable types.

These edge cases are still trivially within reach by passing the string `"2"` without concern.  Maybe it's still a worthwhile discussion for `next`?

[2021-06-16 00:05] BPScott commented on #239
I agree it's not recommended but it is valid and currently supported so its removal is a breaking change as @dcousens notes. My comment was noting that the claim "a number such as '42' or '3.14' is not a valid class name" is false. My working assumption is not "we should support all edge cases and must continue to do so" but "classnames currently support these edge cases and its maintainers need t

[2021-07-28 20:49] charkour commented on #112
This is happening when using classnames with postcss modules.

I have something like this.

[code]

If `className` is a string, then it is applied before the css modules with posts are applied, even though I specify that `className` should be the last thing applied in the function.

[2021-07-29 00:27] mybigman opened #259 "access bind object"
[code]

How can I access the size object?

[2021-08-04 05:50] erfanasbari opened #260 "Type declaration files are not included in 3.2.1 package"
I installed `classnames` from npm and I got this error: `Could not find a declaration file for module 'classnames'`.
I tried installing `@types/classnames` and the error was still there.
In [this link](https://www.npmjs.com/package/@types/classnames) I realized `classnames` has it's own type declarations.
I checked `node_modules/classnames` and there was no type declaration files there.
I tried de

[2021-08-04 22:54] dcousens commented on #260
Hi @erfanasbari!

Do you mean `2.3.1`?
I cannot reproduce the problem you have outlined when using `npm install classnames@2.3.1`

[2021-08-04 22:54] #260 closed

[2021-08-17 15:47] Mihai-github opened #262 "Support for Typescript"
Hi,

    Is Typescript support available for classnames package or not yet? I'm asking because even if I install @types/classnames as a devDependencies I'm still getting the error that is not installed and give me the recommendation to install it.
    Has anyone solved this problem and how (please) or still persists?

Thanks

[2021-08-17 16:58] jonkoops commented on #262
@Mihai-github Yes, the package includes type definitions by default, you should not have to install `@types/classnames`.

If you want to know if a package has types included you can see this on the NPM page of that package. For example, if you visit the page for [`classnames`](https://www.npmjs.com/package/classnames) you'll see this next to the title.

![A tooltip showing types are included for a

[2021-08-17 17:02] Mihai-github commented on #262
But... have you any idea why in my project and say that i have not installed it..
My guess is because i added in ts.config the option noimplicitany and it does not know the fact that this package has already inside of it types.
This is my guess and i think i have to tell him manually.

[2021-08-17 22:51] bezreyhan commented on #262
I also just ran into this issue. It looks like the TS definitions were not being included. I just downloaded the latests version of `classnames` and it seems that the issue has been resolved.

`npm install classnames@latest`

[2021-08-18 00:16] #262 closed

[2021-08-18 06:59] Mihai-github commented on #262
Thanks bro, it worked :)

[2021-09-04 10:51] jonkoops commented on #238
I believe this issue can be closed as this has been resolved on the `next` branch

[2021-09-07 07:18] pajaydev opened #263 "Typescript: Throws an error when we pass spread operator of undefined"
**Code snippet:**
[code]

**Error:**
[code]

shall we add a type check to prevent this ?.

[2021-09-30 12:02] mahirkabir opened #264 "Audit vulnerabilities detected in the classnames project on Tag: v2.3.1"
**Issue**: We detected vulnerable dependencies in your project by using the command “npm audit”:
#### npm audit report

lodash  <4.17.21
Severity: high
Command Injection - https://npmjs.com/advisories/1673
fix available via `npm audit fix`
node_modules/lodash

1 high severity vulnerability

To address all issues, run:
  npm audit fix

**Questions**: We are conducting a research study on vulnerable

[2021-10-12 09:08] wang1212 opened #265 "Help with eslint error"
[code]

I get the following eslint error:

---

typescript `^4.4.3`
classnames `^2.3.1`

[2021-10-15 02:31] #265 closed

[2021-11-05 22:21] VitorLuizC commented on #263
`undefined` is not a iterable, you can't spread it like arrays, strings etc. A type check can't prevent it, because its a runtime error.

You can use nullish-coalescing to prevent like in the example below:

[code]

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator

[2021-11-07 15:39] strarsis opened #267 "Name of variable with empty object used as class name"
When passing in an empty JavaScript object (`let something = {}`) the variable name will be used as a class name (`something`) instead just being ignored as it doesn't contain class names to be toggled.

[2021-11-07 22:54] dcousens commented on #267
@strarsis `classnames` is not recursive,  however,  we do iterate the arguments.
When evaluating an object,  [as per the README](https://github.com/JedWatson/classnames#usage):

We do not recursively dive into that object in any way.

For example

[code]

[2021-11-07 22:54] #267 closed

[2021-12-01 11:48] liuyue-lingoace commented on #259
`cx.split(/\s+/).length`

[2021-12-02 00:33] frontsomni commented on #259
`let classes = cx('size.sm')
 let classesLen = classes.split(/\s+/).length
`

[2021-12-06 07:57] otakustay commented on #238
Do we have an estimate on the release time of `next` branch? For now tools like `vite` are getting more and more popular, they heavily rely on ESM packages.

[2021-12-06 11:16] jonkoops commented on #238
I think it might be time to add a tracking issue to see what needs to be resolved before it is released. I don't think there is much to do besides to use more modern ES syntax, which can also be done at a later point.

[2022-01-21 12:10] maliyshock commented on #260
@dcousens Have the same problem here.
I tried `2.3.1.` and `2.3.0.` versions with the same error described above.

[2022-02-05 05:25] rnitschelm commented on #260
Same problem here. It seems changing to `2.3.0` fixes the problem.

[2022-02-07 03:15] dcousens commented on #260
Cannot reproduce,  a fresh `package.json` in a new folder

[code]

yarn.lock
[code]

[code]

[code]

[2022-05-13 15:40] shiraz opened #272 "Access className by template literal string not working"
So I am trying to access a className based on a template literal string and it's not working.

**WHAT WORKS:**
`<div className={classNames(classes.box, classes.XYZcontentType)} />`

**WHAT DOES NOT WORK:**
[code]

I also tried:
[code]

How can I get classNames to work with template strings that are generated dynamically?

Notes:
I am using React.

[2022-05-13 15:59] newyork-anthonyng commented on #272
@shiraz I created a demo in CodeSandbox. [See here|https://codesandbox.io/s/reverent-darkness-7cpr6w?file=/src/App.js]. The code works with a dynamically generate template string.

My guess is there's something wrong with your application code. Can you provide an example that reproduces the issue?

[2022-05-13 16:59] shiraz commented on #272
@newyork-anthonyng I am using React. Can you create a sandbox with React instead?

[2022-05-13 17:21] shiraz commented on #272
@newyork-anthonyng I made some changes to your sandbox to reflect the use of reactjss and classnames. Please have a look.

[2022-05-13 17:44] shiraz commented on #272
@newyork-anthonyng I made another sandbox. This is better one:
https://codesandbox.io/s/react-jss-playground-forked-s7gsn1?file=/index.js
Please observe line #45.

[2022-05-13 19:28] newyork-anthonyng commented on #272
@shiraz I think you have a bug in your react-jss code.

[code]
Does changing this get you what you wanted?

[2022-05-13 21:59] shiraz commented on #272
@newyork-anthonyng Wow, that seemed to work but is there anyway to set the order correctly? Or it is it whatever react-jss decides?

[2022-05-16 22:12] shinokada opened #273 "Question about Dynamic class names with Tailwind CSS"
According to the [Tailwind CSS doc](https://tailwindcss.com/docs/content-configuration#dynamic-class-names):

[code]

Do you recommend using `classnames` with Tailwind  CSS?

[code]

[2022-05-17 15:49] newyork-anthonyng commented on #272
@shiraz I think this is a react-jss and CSS question.

[2022-05-17 17:08] patrykmaron commented on #273
I am using `classnames` with Tailwind CSS.

Like you mentioned, dynamically creating classes won't work. But there is a workaround I have used:

First I create a map, for instance an Map for justify-content class:
[code]

Then I dynamically set the className if justify prop is defined:
[code]
We can further abstract the above to some kind of method to keep it cleaner.

[2022-05-17 17:10] patrykmaron commented on #273
So in your case, you would want to do something like:

[code]

[2022-05-18 01:00] shinokada commented on #273
@patrykmaron Thank you for your reply. What is `!` at the end of `justify!` and `buttonType!`?

[2022-05-18 01:42] #272 closed

[2022-05-20 14:15] scott-lc commented on #273
@shinokada

That is TypeScript's [non-null assertion operator](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html#non-null-assertion-operator).

[2022-08-06 05:16] LassazVegaz commented on #264
I am working on this

[2022-08-08 08:20] FanShiDe opened #278 "get [object Object] in sandbox"
I'm running code in sandbox provided by [vm2](https://github.com/patriksimek/vm2/blob/c5fb7d939385880f9d0d05f0180f8cf3c8f4c732/README.md)
[code]

Because of vm2 provide proteced object, so the code `arg.toString === Object.prototype.toString` will get false
https://github.com/JedWatson/classnames/blob/f2379c3d1eae8c9d6527279bc6a0630a2e78b051/index.js#L32

I think that should to be changed to `arg.

[2022-08-13 16:53] LassazVegaz commented on #278
I am working on this

[2022-08-15 14:16] paleite opened #279 "Please publish a new version"
The currently published version is 15 months old, but there have been some typescript-changes around 12 months ago (index.d.ts) which have yet to be published. Please publish them in a new version.

[2022-08-17 08:23] MyGuySi commented on #279
Glad it's not just me, would have spent hours debugging this 🙏

[2022-08-22 10:13] leadq opened #280 "bind method doesnt provide intellisense for css modules"
I am using scss.module in my project and when I use classnames library, I bind the style and use like below

[code]

container , foo1, and foo2 are classes in my style module file.

I think it should suggest the classes which are exist in style file but it does not. For example, when I write container or foo1, it doesn't recognize and suggest

Note: I am using react v17, TS v4 and css modules exte

[2022-09-02 07:19] orosznyet commented on #279
Hmm, then I might go with https://github.com/lukeed/clsx

[2022-09-13 01:23] dcousens commented on #278
Fixed in https://github.com/JedWatson/classnames/pull/281

[2022-09-13 01:23] #278 closed

[2022-09-13 01:23] #264 closed

[2022-09-13 01:24] dcousens commented on #240
Fixed in https://github.com/JedWatson/classnames/pull/281

[2022-09-13 01:24] #240 closed

[2022-09-13 01:25] #263 closed

[2022-09-13 01:25] dcousens commented on #279
A new version should be released later today

[2022-09-13 06:36] dcousens commented on #279
Published https://www.npmjs.com/package/classnames/v/2.3.2

[2022-09-13 06:36] #279 closed

[2022-09-13 06:46] dcousens commented on #280
@leadq can you still reproduce this with the latest release?

[2022-09-13 06:47] #259 closed

[2022-09-13 12:47] dcousens commented on #254
I think hyperscript might be out of scope for this library

[2022-09-13 12:47] #254 closed

[2022-09-13 12:47] #273 closed

[2022-09-14 15:27] kivervinicius commented on #279
@dcousens Hello, the changes published in 2.3.2 broke most imports with ts

[2022-09-14 23:59] dcousens commented on #279
@kivervinicius could you open a new issue with an example we can use to reproduce the issue?

[2022-09-19 22:45] #280 closed

[2022-09-19 22:45] #224 closed

[2022-09-19 22:47] dcousens commented on #224
Thanks for sharing the interesting library @jayu - in this instance I'm opting not to add the library to README to reduce a maintenance burden of keeping that list relevant and up-to-date.

[2022-09-27 20:34] rodoabad commented on #112
@charkour looks like order is not guaranteed based on your post.

[2022-09-27 20:38] charkour commented on #112
Hey @rodoabad, thanks for your comment, but I'm not quite sure what you mean.

After using `classnames` and `clsx` for a year now, I believe the reason that `className` is applied after the CSS module is due to specificity. The CSS module has higher specificity than the `className` string passed to the `cn()`.

[2022-10-24 21:52] fjpedrosa opened #288 "Which class override the other one?"
Using classnames library, with react and module.scss styles, suppose I have a component like this:

[code]

[code]

As both classes are in the same file, I have some problems because there is usually a fixed class and I don't know how to prioritize the other over it. For example, in this example, the text will always be red unless I use an !important in the blue class.

So the question is, how can

[2022-10-27 02:01] geoffmunn opened #289 "Return 'void' instead of 'undefined'"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `classnames@2.3.2` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-10-27 02:25] dcousens commented on #289
@geoffmunn out of interest, how did this impact thus that you needed to patch the package?

[2022-10-27 02:32] presouler opened #290 "what is "cx" stand for?"

[2022-10-27 02:44] dcousens commented on #290
I don't know if this has an answer, I'm happy for others to follow up, but this probably has no answer beyond "it is shorter"

[2022-10-27 02:45] #290 closed

[2022-10-27 05:40] geoffmunn commented on #289
I get this message:
[code]
when using it like this:

[code]

The file in question can be found here:
https://github.com/terra-money/station-extension/blob/main/src/components/display/Tag.tsx

I am upgrading this to the latest npm modules and this was a very common failure. Changing the return type fixed the problem, but I am happy to take any other solution you can think of.

[2022-10-27 10:53] Sabih-KL opened #291 "Need support to append string in a class"
class : "lty-fs-"
input : 38
output : "lty-fs-38"
How do i achieve this with class names ?

[2022-10-27 10:53] saad277 commented on #291
also need to know ^^

[2022-10-28 10:10] fromaline commented on #288
There are a couple things you can do here:

1. You can apply the `.red` class conditionally
[code]

2. Alternatively, you can increase the second [selector specificity](https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity) in your scss

[code]

In my opinion, the first option is preferable, because your intentions are more clear in that case.

[2022-10-28 10:15] fromaline commented on #291
@Sabih-KL, read [the docs](https://github.com/JedWatson/classnames#dynamic-class-names-with-es2015), classnames have you covered.

[code]

[2022-10-28 13:46] samerset-rmn commented on #112
Hi there! Have you guys found any solution yet? I've just stumbled upon the same issue. Thinking how to prioritize the string classname over CSS module.

[2022-10-29 06:13] #291 closed

[2022-11-06 11:14] shaojie-li opened #293 "unsupported ssg and ssr"
Due to the start of the visit to the window object, the initiative is not supported ssg and ssr!

[2022-11-06 14:16] #293 closed

[2022-11-06 14:18] dcousens commented on #293
@shaojie-li if possible, are you able to elaborate on what your issue is?
As written, I don't understand what you're asking for.

SSG and SSR are not relevant to this library.

[2022-11-10 13:39] bytemain commented on #279
Meet the same problem

[2022-11-11 11:51] dcousens commented on #279
@bytemain could you open a new issue with an example we can use to reproduce the problem?

[2022-11-11 12:00] bytemain opened #294 "Interface types aren't compatible in 2.3.2"
I meet a typing issue in 2.3.2:

it worked on 2.3.1.

[code]

<img width="1351" alt="CleanShot 2022-11-11 at 19 58 56@2x" src="https://user-images.githubusercontent.com/13938334/201335998-46bacedc-85df-4e7f-8146-3dba5b93af90.png">

[code]

[2022-11-11 12:02] bytemain commented on #294
remove the question token from `ValidateType` make it worked

[2022-11-11 12:04] bytemain commented on #294
[code]

this is work.

[2022-11-15 11:15] krutoo opened #295 "Throwing an exception when accessing non-existent classes"
Hi, first of all thanks for good simple library.

In my projects i often use classnames/bind along with css modules like this:

[code]

I want that in dev mode or in tests, calling `cx()` with a class name that is not in the css-module will throw an exception.

Can i somehow do it with this library?

[2022-11-15 12:18] dcousens commented on #295
@krutoo that isn't supported as is, but you could try [`patch-package`](https://github.com/ds300/patch-package)?

[2022-11-17 06:31] krutoo commented on #295
@dcousens Thank you for suggestion, i will try to use it

[2022-11-18 20:13] sylvain-guehria commented on #273
I was stuck with the same kinf of problem ! you helped a lot, thanks =)

[2022-11-24 03:16] dcousens commented on #289
@geoffmunn you are using `classNames from "classnames/bind"` bind within `Tag`.
Maybe you wanted `cx` or the non-bind variant?

[2022-11-24 03:16] #289 closed

[2022-11-24 03:23] dcousens commented on #294
Issue broken down

[code]

[code]

[2022-11-25 18:00] xgqfrms opened #297 "why not using one build tool for publish the npm package?"
# I didn't found any build scripts in the `pacakge.json` file

https://github.com/JedWatson/classnames/blob/main/package.json#L13-L18

[code]

![image](https://user-images.githubusercontent.com/7291672/204036884-91636315-76de-4d04-82bc-9b2b9cc8c4a3.png)

[2022-11-25 18:06] xgqfrms commented on #297
# suggestion

`src/` => `dist.` / `build/`

[2022-11-26 00:42] dcousens commented on #297
I think we're pretty happy with the status quo, the investment of time doesn't necessarily have a benefit at this time

[2022-11-26 00:42] #297 closed